[2020-04-06 21:41] tedhong9 opened #1 "Light Mode and other features"
Hi,
First of all, I want to thank you for this project! I loved it!
I would like to see a light mode option (my Windows theme is set to light).
Furthermore, I know this sounds like nitpicking, but could you update some fonts and formatting? If you ask for the weather, rainy days would be spaced weirdly (see attachment). Also, could you update the font so that it is Google's font everywhere? It wou

[2020-04-07 11:12] Melvin-Abraham commented on #1
@tedhong9 Thanks for the compliment... 😊

**Light theme** is one of the milestones I am planning for. Also, I'm planning to change the themes based on system settings.

And talking about the **"Weather"** query, the last element would appear to be oddly spaced because it's one of the ways assistant tries to **scale** the contents within the window (for *original* scaling, you can uncheck *Enable A

[2020-04-07 11:51] ItzBrunoToma opened #2 "TTS Bug?"
**Describe the bug**
The Assistant randomly says "Sorry, there was a problem, please try again later."
Everything goes ok, it responds and a minute after it just says that for no reason.

**To Reproduce**
Steps to reproduce the behavior:
It happens time-to-time

**Expected behavior**
It shouldn't do anything because it successfully completed the task.

**Screenshots**
/

**Desktop (please complete

[2020-04-07 21:39] tedhong9 commented on #1
Thank you!

[2020-04-08 06:00] Melvin-Abraham commented on #2
@ItzBrunoToma Can you send a sequence of queries to reproduce this issue. Because in my case, I don't have any such issues...

[2020-04-08 08:40] ItzBrunoToma commented on #2
Hi! I've played around with the assistant a bit and it seems like it happens after you try and "play a game".
Here's a list of queries:
`2+2
4!
pi=
cafes nearby
what can you do?
avocado fat
avocado calories
cat
dog
lifespan
what about pug?
terrier lifespan
10/15
power of 100000000
go to google.com
sing me a song
can you dance?
can you beatbox?
how do i look?
drumroll please
compliment me
play a ga

[2020-04-08 13:19] Melvin-Abraham commented on #2
Well, still can't reproduce the issue _(even after following the sequence of queries)_. But I think that the problem might be that the microphone starts in between accidentally. Will have a look after it.

Anyway, you can **clone** the project and **run** it with **devtools** open and state what **_"errors or logs"_** come up, so that I can figure out something...

[2020-04-09 08:21] ItzBrunoToma commented on #2
Here's what it spits out in the console
![image](https://user-images.githubusercontent.com/42813323/78873482-3e9f8900-7a4b-11ea-8d1d-45c2b1adc143.png)

This causes it every time for me
[code]

[2020-04-09 08:52] Melvin-Abraham commented on #2
Hey, @ItzBrunoToma. Based on the responses I see here, I think you should make sure that the option **_"Force New Conversation"_** under **"CONVERSATION"** settings is **disabled**...

[2020-04-09 10:15] ItzBrunoToma commented on #2
I've disabled the option and started an akinator game. It worked fine but after answering all the questions it just started repeating "Sorry, there was a problem, please try again." over and over again

[2020-04-10 16:51] Melvin-Abraham commented on #2
Ok. I will try to investigate the issue. Meanwhile, if you could help in any way, it would be appreciated... 😊

[2020-04-11 12:22] ItzBrunoToma commented on #2
I don't know if I'll be able to help too much because you know how your code works way better than me, but try to prevent the assistant from saying that when it catches an Error: 14 UNAVAILABLE: Service unavailable, maybe display a small banner somewhere just in case

[2020-04-11 12:25] Melvin-Abraham commented on #2
Actually, I too get the same `Error: 14 UNAVAILABLE: Service Unavailable` most of the times but I don't hear any such responses...

[2020-04-11 13:10] ItzBrunoToma commented on #2
Yup! Seems like that fixes it for me.

[2020-04-11 18:09] Melvin-Abraham commented on #2
I think that when a query requires _continuous conversation_, it triggers microphone multiple times. I will soon push a commit to fix this issue...

[2020-04-12 11:03] ItzBrunoToma commented on #2
Awesome :+1:

[2020-04-12 11:21] Melvin-Abraham commented on #2
@ItzBrunoToma I have pushed a commit, check if the problem still persists...

[2020-04-13 10:38] #1 closed

[2020-04-16 13:55] Piflyer opened #3 "Auto Enable Microphone"
**Is your feature request related to a problem? Please describe.**
I'm always annoyed how the microphone isn't on when I press the hotkeys (Command+Shift+A)
**Describe the solution you'd like**
When you press the hotkeys (Command+Shift+A), the microphone turns on automatically so you can speak at it.
**Describe alternatives you've considered**
Toggle to enable or disable microphone when pressed.

[2020-04-16 14:02] Piflyer opened #4 "Edges of the corners are not translucent"
**Describe the bug**
Whenever I launch the app, at every corner, they are not translucent, but white.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'yarn start'
2. See error

**Expected behavior**
Clear and transparent rounded corners.

**Screenshots**
<img width="1022" alt="Screen Shot 2020-04-16 at 9 29 03 AM" src="https://user-images.githubusercontent.com/37424588/79465431-5639bd0

[2020-04-16 16:33] Melvin-Abraham commented on #4
A transparent background was explicitly added in the `app.js` as per this commit: 8994c73. Did you clone the latest commit?

[2020-04-16 16:35] Melvin-Abraham commented on #3
@Piflyer Thank you for your feedback 👋. This option will be soon added in the form of a setting...

[2020-04-16 18:05] Melvin-Abraham commented on #4
Well, I'm on a Windows machine, so, I can't test if it works but try out if `titleBarStyle: 'hidden'` inside `BrowserWindow` options in **"app.js"** works.

[2020-04-17 04:48] #3 closed

[2020-04-19 08:16] Melvin-Abraham commented on #2
Closing this issue as no response on this was further received.

[2020-04-19 08:16] #2 closed

[2020-04-28 20:56] Piflyer commented on #4
Sorry for the long wait, that does not work.

[2020-04-30 12:47] Melvin-Abraham commented on #4
Well, maybe try adding the following line to `app.js` after **line 10**:

[code]

If that doesn't work, let me know if `app.disableHardwareAcceleration()` works.

[2020-05-08 15:13] minkyman1 opened #5 "Not saving settings"
Hi, sorry to bother you

My save settings wont work. I've put in the Key File Path and clicked save, it then autmatically puts the saved token path as the tokens.json but when I click the save button nothing happens. It wont work work, please please help as it was working on my other PC.

[2020-05-08 16:10] Melvin-Abraham commented on #5
Hey, @minkyman1 👋. Try this to get more information on what's happening:

Make sure you have cloned the latest commit of this project, after which you must execute the line `npm start` to start the application.

In the settings, under "DEVELOPER TOOLS" section, click the "Open DevTools" option. Then, click "Save". You might get an error on the devTools console which will let you know the actual pr

[2020-05-08 16:21] minkyman1 commented on #5
Hey thanks for the quick reply! Sorry, Let me go through what I have done:

Note : I used the installer, I didn’t build it myself

Made gmail account and setup all the API stuff, downloaded the key file. Opened the assistant and went to settings, put the key file in the path (I didn’t get given a token file from the API setup). Then I clicked saved, it asked for me if I would like to automatically

[2020-05-08 16:22] minkyman1 commented on #5
Would I be able to do the log with the exe file? As I said I didn’t build it

[2020-05-08 16:35] minkyman1 commented on #5
![yUT7MI84Dp](https://user-images.githubusercontent.com/36448068/81427180-53f2fa80-9152-11ea-81a6-ab92ba1f0d07.gif)

[2020-05-08 16:37] minkyman1 commented on #5
Tried re install and install it, same thing

[2020-05-08 16:58] Melvin-Abraham commented on #5
@minkyman1 Check if you have **"Google Assistant"** directory in `%APPDATA%`.

[2020-05-08 17:05] minkyman1 commented on #5
![image](https://user-images.githubusercontent.com/36448068/81429896-6c651400-9156-11ea-9e9e-9e00c1121d5a.png)

Yes in roaming not in local @Melvin-Abraham

[2020-05-08 17:27] minkyman1 commented on #5
Its rlly annoying as it was working fine on my other PC and its so usefull

[2020-05-08 17:39] Melvin-Abraham commented on #5
@minkyman1, I think if you clone the repo and run it with the devTools open, it would be easy to pinpoint any exceptions that may occur while you are saving the settings.

Just clone, run and share the logs :)
Let me know if you have any problem in any of the steps

[2020-05-08 18:15] minkyman1 commented on #5
How do you run with DevTools? Ive installed with npm and run it. still same

[2020-05-08 18:19] Melvin-Abraham commented on #5
`Ctrl + Shift + I`

[2020-05-08 18:24] minkyman1 commented on #5
Aha!
![yUT7MI84Dp](https://user-images.githubusercontent.com/36448068/81436529-8e17c880-9161-11ea-8533-b638f6fbac0f.gif)
Srry for asking so many questions

[2020-05-08 18:25] minkyman1 commented on #5
![vbu4i6nn1N](https://user-images.githubusercontent.com/36448068/81436572-9e2fa800-9161-11ea-9cca-8c604d3040d9.gif)

Aha! Sorry for asking so many questions :(

[2020-05-08 18:25] minkyman1 commented on #5
![image](https://user-images.githubusercontent.com/36448068/81436630-b4d5ff00-9161-11ea-8ab8-7d618e081ef8.png)

[2020-05-08 18:57] minkyman1 commented on #5
How would I fix this?

[2020-05-08 19:13] Melvin-Abraham commented on #5
@minkyman1, Thank you for the contribution. The issue is being caused since "config" is not initialised in your case as it is your first time running the program and so initialisation is halted but in the settings, the _"isNew"_  option inside **"config"**  is being updated while saving.

This issue will soon be fixed.

So, for the time being, you can create `config.json` inside `%APPDATA%/Google

[2020-05-08 20:31] Piflyer commented on #4
Doesn't work

[2020-05-08 20:49] minkyman1 commented on #5
Cheers so much! Finally working!

[2020-05-08 20:49] #5 closed

[2020-05-11 17:46] ayush06feb commented on #4
Can confirm that the issue is also present in Ubuntu 20.04 LTS (gnome desktop).

[2020-05-11 19:45] ayush06feb opened #6 "Addition of compiled executables for linux."
Hello Melvin,
I have compiled packages for linux systems and have uploded them to my fork. Unfortunately, I wasn't able to make a pull request for releases (I am new to contributing through GitHub). Please add them from their to your project so that others can simply download and run it.
PS:I have compiled them as appimages and snap package for x86 systems.
Here's the link: https://github.com/ayus

[2020-05-12 03:32] Melvin-Abraham commented on #6
@ayush06feb Since I've already added build instructions for linux (as per b2edeb7), you can be sure that the next release is going to include the packages for linux as well.

[2020-05-12 10:19] ayush06feb commented on #6
That's good! It would be helpful for others who are not able to compile the program themselves.

[2020-05-12 10:19] #6 closed

[2020-05-13 14:26] Melvin-Abraham commented on #4
Seems like there is an issue with this version of Electron framework wherein the background color becomes white when the page is **reloaded**. _(PS: with vibrancy off)_

A workaround would be to relaunch the application via `app.relaunch()` but that will result in significant delay compared to reloading the page. But this is the only option I see.

[2020-05-14 15:17] #4 closed

[2020-05-26 06:17] ameer1234567890 opened #7 "API Functionality"
Can some kind of API be built into this tool, so that users can trigger and send commands to the assistant via an API, such as REST.

[2020-05-27 08:09] Melvin-Abraham commented on #7
Hi @ameer1234567890, that seems to be a fairly reasonable feature request. Maybe this will be added to the plan for later. Also, I think a CLI tool will be a better option than a REST API. Please share more of your thoughts on this feature.

[2020-05-27 09:35] ameer1234567890 commented on #7
You are spot on. A CLI would be better than a REST API, especially since this is Windows only.

[2020-05-27 10:46] ayush06feb commented on #7
But actually it is a multi-platform application as the project contains build instructions for Linux and macOS based system (I am running it on Ubuntu).
I think that the cli tool developed for Windows would also work for other OSes without any major tweaking.

[2020-05-28 11:17] Melvin-Abraham commented on #7
This feature will be worked upon after the release of `v1.0.0-rc.2`.

[2020-07-30 03:59] HamgamPardazesh opened #9 "Error by starting this app"
Win 10

![image](https://user-images.githubusercontent.com/38905298/88879097-a8cc7b80-d23e-11ea-89d2-1aabe7487b93.png)

[Content]
Uncaught Exception:
TypeError: Error processing argument at index 0, conversion failure from 114.5
    at App.app.on (C:\Users\Username\AppData\Local\Programs\Google Assistant\resources\app.asar\app.js:145:20)
    at App.emit (events.js:187:15)

[OK]

[2020-07-30 04:22] Melvin-Abraham commented on #9
Please provide **more information**, including the version of Assistant you are using. Did you _build it manually_ or are you using the _binary from releases_?

[2020-07-30 04:48] HamgamPardazesh commented on #9
I use version 1.0.0 rc
and built it by windows installer

win 10- last update - hp system  4530s core i5

feel free to contact me for more information

On Thu, Jul 30, 2020 at 8:52 AM Melvin. L. Abraham <notifications@github.com>
wrote:

[2020-08-01 02:37] Melvin-Abraham commented on #9
@HamgamPardazesh Sorry for the delay. I can't reproduce the issue you are having. Can you try reinstalling?

[2020-08-11 17:45] Melvin-Abraham commented on #9
Closing as a stale issue

[2020-08-11 17:45] #9 closed

[2020-10-01 14:34] castrojo opened #12 "Running refresh from inside g-assist fails due to missing pkexec command"
_Thank you_ for this tool, this is really great! I got a notification in the window about it being out of date so I followed the instructions and got this error:

![Selection_010](https://user-images.githubusercontent.com/1264109/94823043-6146a500-03d1-11eb-9a1e-70412bdd5687.png)
<!--

Ubuntu 20.04
I can confirm that `/usr/bin/pkexec` exists on my system.

[2020-10-01 14:40] castrojo commented on #12
Hit enter too soon: OS is Ubuntu 20.04, and I can confirm that `/usr/bin/pkexec` exists on my system.

[2020-10-02 05:12] Melvin-Abraham commented on #12
This seems like an issue exclusive to "strictly" confined snap as this used to work in "classic" snap. This restriction may be due to security reasons.

[2020-10-02 09:48] EnderAdel opened #13 "The assistant can use its own style"
This project is amazing. But maybe you have to change the style of the project to fit Desktops.

[2020-10-02 10:50] Melvin-Abraham commented on #13
@EnderAdel Can you elaborate more on that and give a clear idea about what's exactly on your mind?

[2020-10-04 07:26] EnderAdel commented on #13
One of the things to do is to make it so the window would look more like a normal system window. The style of the current window doesn't fit in at all.

[2020-10-05 12:08] Melvin-Abraham commented on #13
This doesn't seem like a huge concern as this does not necessarily improve the user's experience. So, I'm not sure if this will be worked upon. Anyway, I will label this issue as a low priority.

[2020-10-05 22:17] sayoojsamuel opened #14 "Electron window is not launching"
**Describe the bug**
On running `npm start`, the electron window is not launching.  The following error is logged in the terminal,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project directory
2. run `npm install`
3. run `npm start`
4. The task-bar tray icon is started,  however the app does not launch.

**Expected behavior**
The landing window should pop up.

**Screenshots**
#

[2020-10-06 03:38] Melvin-Abraham commented on #14
The warning in the terminal is expected considering the native module **grpc** is not context aware as of now. Also, the app has to be launched by `Super + Shift + A` keyboard shortcut ([refer to this](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client#keyboard-shortcut)). You can also launch the assistant by right-clicking the tray icon and selecting **"Launch Assistant"

[2020-10-06 04:46] sayoojsamuel commented on #14
@Melvin-Abraham so I had already tried both the methods.  However, the same error is logged in the terminal.

![GAUDC](https://user-images.githubusercontent.com/31436104/95159846-b4976980-07bc-11eb-86c9-1369863316f4.gif)

[2020-10-06 06:51] Melvin-Abraham commented on #14
I have added a new commit which includes addition of "Open DevTools" option in tray icon context menu. Launch the assistant as usual (via any of the two methods) and then click "Open DevTools". If there are any errors logged in the DevTools console, do specify in here...

[2020-10-06 17:58] sayoojsamuel commented on #14
@Melvin-Abraham `DevTools` option gave a great head start.  The issue was due to having dual screens with different orientation.  The app defaults to open in the center of the screenspace, hence was hidden in the non visible area.

![image](https://user-images.githubusercontent.com/31436104/95241416-581f6300-082b-11eb-9cfe-7bae15f3fddd.png)

Would it be possible to align the app within one screen?

[2020-10-07 05:30] Melvin-Abraham commented on #14
Just to get some idea about the display, can you execute `electron.remote.screen.getAllDisplay()` and `electron.remote.screen.getPrimaryDisplay()` in the DevTools and share the log?

[2020-10-11 01:40] dopewind opened #16 "[Question] I cannot save the OAuth consent screen"
![image](https://user-images.githubusercontent.com/34067026/95668354-85a03f80-0b90-11eb-8dea-197e8944198f.png)

It's the same as the image shows, after I click through every option filling out the mandatory fields, I doesn't show me an option to save it.

The crazy thing is I've done this before, and it had worked flawlessly

[2020-10-11 01:46] dopewind commented on #16
I don't know what was not working, so as an experiment I went to Firebase console and enabled the Google login option and everything worked.

No idea what happened

[2020-10-11 01:46] #16 closed

[2020-10-11 01:50] dopewind opened #17 "[Feature Request] Setting to default to Voice input"
When we press Win+Shift+A, it could go directly to voice access mode. I mean we could have a option in settings for this as different people have different use cases

[2020-10-11 06:07] Melvin-Abraham commented on #17
Please clarify your point with verbose description. Also, give a better, descriptive title for this issue...

[2020-10-11 06:43] dopewind commented on #17
**@Melvin-Abraham **

For example, when we summon the Google Assistant on an Android ( either by swiping from corner on A10 and above or holding down home button on other versions ) the assistant opens and starts listening for voice input.

In your version, which works flawlessly BTW we need to press Win+Shift+A and the subsequently click on the voice button to make the assistant receive voice com

[2020-10-11 08:50] Melvin-Abraham commented on #17
@dopewind Thank you for explaining that and fixing the title. This issue was already brought up in #3 and the commit fc3974c implemented it. This feature is now available as a part of `v1.0.0-rc.2` and can be accessed from **Settings** > **Conversation** > **Enable microphone on application startup**. If this helps, don't forget to close this issue. :)

[2020-10-11 09:16] dopewind commented on #17
@Melvin-Abraham

Thanks a lot for the fast suppor

Keep up the great work

Cheers✌

[2020-10-11 09:16] #17 closed

[2020-10-12 22:29] sayoojsamuel commented on #14
Running `electron.remote.screen.getPrimaryDisplay()` yields

[code]

---

Running `electron.remote.screen.getAllDisplays()` return the following
[code]

[2020-10-14 09:23] vestimir opened #18 "Signing in as a user"
**Is your feature request related to a problem? Please describe.**
For certain uses Google Assistant requires a signed-in user. Setting the default temperature unit to Celsius is one such example.

**Describe the solution you'd like**
Provide an interface to connect your Google Account.

**Describe alternatives you've considered**
-

**Additional context**
<img width="802" alt="Screenshot 2020-10-

[2020-10-15 06:36] Melvin-Abraham commented on #18
@vestimir I don't think Google Assistant SDK provides any feature for signing in as a Google User like in the official Google Assistant app as it is not intended for that purpose. Also, I tried running the same command and it seems to be working fine for me without any need to do that from my phone.

![image](https://user-images.githubusercontent.com/26056183/96085567-9cbb9600-0ede-11eb-8b5d-9b24c

[2020-10-15 06:37] Melvin-Abraham commented on #14
Thank you @sayoojsamuel, I'll look into that...

[2020-10-19 04:19] micahlt commented on #13
@Melvin-Abraham I disagree with this user - this project is awesome, and the UI is consistent with other platforms.  There are plenty of apps that don't blend with their OS interfaces!  This one looks fine.  😊

[2020-10-19 04:24] micahlt opened #19 "Disable text selection"
**Describe the feature you'd like**
Often I use Electron apps and notice that I can select text.  In some cases, this is useful.  However, most of the time it just adds to the feeling that I'm using a _website_, not a native app.  This app is similar.  I believe that you should _not_ be able to select text in this client to help create a more native feel.

**Describe alternatives you've considered

[2020-10-19 10:02] Melvin-Abraham commented on #19
@micahlt This seems to be a reasonable feature. Contributions are more than welcome 😊.

One thing to take into consideration is that this option must be provided as a **setting** that can be toggled just so that it gives users more flexibility in choice...

[2020-10-20 14:08] snaildos opened #20 "Add Option to Fully close on close button."
Not really sure if when I press the close button the application stops listening; Just want to clarify. I am pretty paranoid there is always someone listening. Just curious.

[2020-10-20 15:04] Melvin-Abraham commented on #20
@snaildos When you close the application, it basically disables the processing of audio stream through mic even though the microphone is active. This makes sure that no audio stream is passed to the Assistant SDK whatsoever. You can clarify by checking out the source code.

If you still feel paranoid about that, don't worry, there is a setting which allows you to close the assistant immediately wh

[2020-10-21 09:00] snaildos commented on #20
Thanks!

[2020-10-21 09:00] #20 closed

[2020-10-22 06:08] adel-sbeh commented on #19
[code]
This should do the trick

[2020-10-22 06:10] adel-sbeh commented on #13
The UI does look awesome, indeed. But it's not that efficient when it comes to PCs. I could use some tweaks here and there.

[2020-10-24 01:19] sepehrraisi opened #21 "Unexpected Exception Occured"
I get this when I start Google Assistant on windows
Unexpected Exception Occured
An unexpected error occurred.
Error: Tried calling start() before the ready event!

[2020-10-24 06:36] Melvin-Abraham commented on #21
@sepehrraisi Can you share a more verbose error log and/or relevant screenshot for the same?

[2020-10-24 06:40] Melvin-Abraham commented on #13
@adel-sbeh What kind of tweaks are you planning to apply? Also, please describe, if any, the benefits of doing so...

[2020-10-24 06:40] Melvin-Abraham commented on #18
Closing as stale...

[2020-10-24 06:41] #18 closed

[2020-10-24 16:57] sepehrraisi commented on #21
Sorry for asking
How can I find the logs?

On Sat, Oct 24, 2020, 10:06 Melvin. L. Abraham <notifications@github.com>
wrote:

[2020-10-25 03:18] Melvin-Abraham commented on #21
@sepehrraisi A screenshot of the error dialog would be sufficient as it contains the stack trace too along with error message.

[2020-10-25 15:58] sepehrraisi commented on #21
After Reinstalling the App The problem got solve by it self.
Thank you.

On Sun, Oct 25, 2020 at 6:49 AM Melvin. L. Abraham <notifications@github.com>
wrote:

[2020-10-25 16:07] #21 closed

[2020-10-26 11:23] OugiFormula opened #22 "Choosing microphone input and audio output"
**Hello Melvin!**

Recently I noticed that in the settings we can't choose which audio device google assistant will get the audio source from and send the audio source to.

Since I got multiple audio devices on my pc I need to change it to the ones I use regularly on almost every program or sometimes I want it to be on specific ones like my VR headset microphone in case I want to know some stuff w

[2020-10-26 17:15] niksingh710 opened #23 "Not working on Linux Kde neon."
![Screenshot_20201026_224305](https://user-images.githubusercontent.com/60490474/97204895-af867280-17dc-11eb-85f9-7b76a43b0d0a.png)

after Setting the credential location I am getting this if I ignore this then paste my code then clicking submit does nothing.

Using Linux Kde neon based on ubuntu20.04 installed it via snap

[2020-10-27 04:07] Melvin-Abraham commented on #22
@czerotwo Thank you for your feedback 👋. These options will be soon added in the settings...

[2020-10-27 04:18] Melvin-Abraham commented on #23
@niksingh710 The reason behind this error is that the assistant was triggered (via _text_ or _microphone_) before the token file was created during which the assistant's `ready` event wasn't called. _I'll probably have an error message clearly stating that issue._

You can request tokens only once per day as per my testing _(that should explain this issue)_. So, maybe you can try fetching the toke

[2020-10-27 04:29] niksingh710 commented on #23
@Melvin-Abraham I get what u r saying, I tried today too and got the same issue.

[2020-10-27 06:16] Melvin-Abraham commented on #23
@niksingh710 The issue is pretty much still the same, assistant is triggered somehow before token is created. In your case this seems to be at the beginning, which could mean that it is being triggered right after the assistant is launched via the hotkey.

Typically, in **Settings** > **Application** > **Configure Hotkey Behavior**, the default hotkey behavior is "Launch app / Toggle Microphone".

[2020-10-27 06:32] niksingh710 commented on #23
@Melvin-Abraham Nothing from ur side it was all what i messed up. when i first launched assistant it was showing microphone is not accessible so without setting assistant token i executed this command `sudo snap connect g-assist:audio-record`

This was executing microphoen.

[2020-10-27 06:46] niksingh710 opened #24 "Shortcut Change"
Will be great if we can have an option to change the quick access shortcut.

[2020-10-27 06:51] #23 closed

[2020-10-27 22:33] VelocityDesign opened #25 "Replace Depreciated/Unsupported Dependencies"
**Describe the bug**
A few different packages are depreciated or unsupported for NPM.

**To Reproduce**
Steps to reproduce the behavior:
1. Download & Unzip
2. Open Command Prompt (Windows) / Terminal (Ubuntu & Chronos)
3. run "npm install"
**Expected behavior**
All packages successfully install.
**Screenshots**
N/a
**Desktop (please complete the following information):**
 - OS: Windows 10 Pro Ins

[2020-10-28 06:07] Melvin-Abraham commented on #24
@niksingh710 Thank you for the feedback 👋. This feature will be worked upon soon...

[2020-10-28 06:10] Melvin-Abraham commented on #14
@sayoojsamuel Can you check if this commit helps?

[2020-10-28 06:15] niksingh710 commented on #13
The UI is amazing no need change that but what we can do is set custom shortcuts for accessing voice and

for e.g, if we use the shortcut to access the voice command it should not appear as a new window, a small pop up in the right bottom corner with voice waving motion showing that the assistant is listening to our question and give result as voice. kinda minimal implementation

Not a thing to be

[2020-10-28 06:19] Melvin-Abraham commented on #25
Seems like the dependencies are up-to-date. So, I suppose you are talking about the **Electron dev-dependency** which is still in `v9.0.3` instead of the latest version. The reason behind this is due to the native-module `grpc` support. If you check out the changelog of latest grpc version (`v1.24.3`), you might notice that it adds support for Electron 7, 8, and 9 which means if I update the elect

[2020-10-28 08:51] sayoojsamuel commented on #14
I suppose this issue is now resolved.  The Display Preferences option is working perfectectly.
![image](https://user-images.githubusercontent.com/31436104/97413412-c5a14980-1928-11eb-9f31-3d8427b8324c.png)

[2020-10-28 08:51] #14 closed

[2020-10-28 08:56] adel-sbeh commented on #13
At least add a thin border and a shadow, so it would not look strange on Windows.

[2020-10-29 09:31] regisandre opened #27 "[Feature Request] System language"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Detect operating system language automatically

Thanks !

[2020-10-29 09:32] regisandre opened #28 "[Feature Request] Multiple instances change"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Instead of displaying an error message "Preventing launch: An instance of Google Assistant is already running. Openration Aborted" when trying to open the Google Assistant when it is already open, the shortcut should activate the micro

[2020-10-29 09:34] regisandre opened #29 "Change the shortcut icon ?"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Change the application icon, it's a matter of taste, but personally I changed the icon of the shortcut on my task bar to the s-logo of the Google Assistant without a white background.
![image](https://user-images.githubusercontent.com/

[2020-10-29 09:38] regisandre opened #30 "[Feature Request / Issue] Microphone monopolization on Windows 10"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Ultimately, when you have succeeded in activating your application automatically with the sentences "Hey Google" and "Ok Google", take care not to monopolize the microphone. What is a bit annoying is that Windows displays when the mic

[2020-10-29 09:38] regisandre opened #31 "Simpler login system"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : A simpler login system, I don't know if it's possible, but like other applications or website, use a simple form to log into your Google account, without having to create a project yourself, etc.

Thanks !

[2020-10-29 09:41] regisandre opened #32 "(Design) Magnification of the microphone icon"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Reduce the magnification of the microphone icon when you hover your mouse over it because it almost goes out of the field.
![image](https://user-images.githubusercontent.com/21986104/97551478-52084680-19d3-11eb-8587-2598eff54533.png)

[2020-10-29 09:43] regisandre opened #33 "Integrate Google Assistant more deeply into the system (Windows 10)"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My suggestion : Try to find a solution to "surpass" Cortana which is automatically integrated into Windows, so be able to use the "Windows + C" keyboard shortcut which is initially intended for Cortana. And a lot of other things...

Thanks !

[2020-10-29 09:48] regisandre opened #34 "[Issue] Startup launch issue on Windows 10"
Hello,

I really love your app, I have been waiting for a long time to have Google Assistant on Windows 10 and others and your app is just awesome!

My issue : When I activate the option to launch the application at system startup on Windows 10, it does not appear in my system bar at the bottom left. On the other hand, when I add an application shortcut in the start-up folder of my "shell: startup

[2020-10-29 10:04] regisandre commented on #19
I love the idea, but it should be integrated to improve the user experience. I think it is important to leave the possibility of copying certain content directly from the interface.

I have an idea for that, when hovering the mouse over certain texts, displays a small copy-paste icon.
![image](https://user-images.githubusercontent.com/21986104/97553998-74e82a00-19d6-11eb-9770-a3096e3f71db.png)

[2020-10-29 10:06] regisandre commented on #13
This is a feature that is difficult to add, but we should leave the possibility of creating themes by the community that can be integrated by an option in the settings. And since it's web development, it could be pretty straightforward for the community.

[2020-10-29 11:56] adel-sbeh commented on #19
[copy]{
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -webkit-user-drag: all;
  -khtml-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

[2020-10-29 11:58] adel-sbeh commented on #13
How come? It's CSS. It's as easy as giving an element a border. The window is frameless...

[2020-10-29 15:53] Melvin-Abraham commented on #30
@regisandre Well, it turns out that the `startMic()` function created a new `Microphone` instance every-time it was called instead of stopping/reusing the existing instance. Anyway, this will be fixed soon...

Related: #20

[2020-10-29 16:09] #30 closed

[2020-10-29 16:13] Melvin-Abraham commented on #33
Similar to #24.

[2020-10-29 16:27] regisandre commented on #30
Thanks @Melvin-Abraham, it's perfect !

[2020-10-29 16:32] regisandre commented on #33
Hello @Melvin-Abraham, I don't think the 'duplicate' label is appropriate because if you add an option to change the shortcut, like Win + C, it won't override the Cortana shortcut.  And like I said, it's not just for the shortcut but to deeply integrate the Google Assistant into the operating system like launching apps by telling Google Assistant "Hey Google, open Photoshop".

[2020-10-29 16:34] Melvin-Abraham commented on #34
Can you check if "Google Assistant" appears in the **"Startup"** tab of Task Manager? Also, is there a possibility that you forgot to check the "Show Hidden Icons" button in the taskbar? Let me know...

[2020-10-29 16:40] Melvin-Abraham commented on #33
@regisandre Actually, system level functions like opening apps would be more complicated to put together considering this application is cross-platform. Also, one part of this issue is similar to the other issue that I mentioned, since you also want to remap the hotkey to "Win + C" instead of "Win + Shift + A" which is totally doable but still the second part seems to be out-of-scope for now but m

[2020-10-29 16:49] Melvin-Abraham commented on #28
@regisandre I think that's more of a personal preference in my opinion. Some people might not like the assistant to just let the microphone start when this happens. So, I guess that could be left unchanged.

If you have any opinions about it, let me know...

[2020-10-29 16:54] regisandre commented on #28
I think that you can add an option in the settings named "Preventing launch of multiple instances" enabled by default or "Activate the microphone when try to launch a new instance" 😅

[2020-10-29 19:05] regisandre commented on #34
Yes everything is well activated. I am a system administrator so I also looked a little further for the cause of the problem, but I couldn't find anything 😕

[2020-10-29 19:05] regisandre commented on #33
I understand, thanks !

[2020-11-02 14:21] Whiteshadow-hacker opened #35 "A Java script error occured in the main process"
I installed the google assistant (unofficial client) from the ubuntu software store. the installation was smooth, but when i try to launch the application from my applications menu, it opens a pop up saying that a java error occured in the main process i have attached a screen shot of the pop-up down here. and about my system specificaion, i use ubuntu 20.04.1
![Screenshot from 2020-11-02 19-49-58

[2020-11-02 14:23] Whiteshadow-hacker commented on #35
does anybody else face the same issue ?? please help me out if you fixed this error !!!

[2020-11-03 07:16] Melvin-Abraham commented on #35
@Whiteshadow-hacker Well, I cannot reproduce this error. Also, to be honest, I have no idea what happened there. So, it might be a problem from electron's side. Anyway, I will probably add a commit for verbose logging in the console/file which could provide some idea where exactly error occurs. Until then, if you can clone this repo and run/build it, let me know if the error occurs again...

[2020-11-03 08:46] #22 closed

[2020-11-03 13:08] Whiteshadow-hacker commented on #35
@Melvin-Abraham dude thank you very much!!! . i am really glad that you responded to my issue.
but just after i read your response i tried running the .appimage from your releases. even this time i got the very same error. please help me out. i would really love to use google assistant on my computer.
![Screenshot from 2020-11-03 18-37-35](https://user-images.githubusercontent.com/56890843/9798889

[2020-11-03 13:53] Whiteshadow-hacker commented on #35
if you still want a clear idea of what's happening please see this video which I have screen recorded:: https://drive.google.com/file/d/1jmrBnHnA7ocWEgHo9vdrRuk2nvd2kQlB/view?usp=sharing

[2020-11-03 16:42] Whiteshadow-hacker commented on #35
I tried the .exe in windows and it works just awesome !!!! after testing it in windows, now i feel even more curious to have it on my main computer in which i run ubuntu. i am really impressed by your program. please help to get this on my linux !!!!

[2020-11-04 11:59] Melvin-Abraham commented on #35
@Whiteshadow-hacker Did you try cloning this repo and executing `npm start`?

[2020-11-04 17:24] Whiteshadow-hacker commented on #35
dude, I was not completely into the idea of installing through npm but since you said, I tried and got a new error !!!
![Screenshot from 2020-11-04 22-52-34](https://user-images.githubusercontent.com/56890843/98144610-793da700-1ef0-11eb-8aa6-9488f17ca562.png)

[2020-11-04 17:25] Whiteshadow-hacker commented on #35
if you want the log file of the error, i can provide it !!

[2020-11-04 17:27] Whiteshadow-hacker commented on #35
and here is the error when i executed npm start::
![Uploading Screenshot from 2020-11-04 22-56-51.png…]()

[2020-11-04 17:33] Whiteshadow-hacker commented on #35
and here is the error when I executed npm start ::
![Screenshot from 2020-11-04 22-56-51](https://user-images.githubusercontent.com/56890843/98146994-fa496e00-1ef1-11eb-9dfe-7800f1f80e34.png)

[2020-11-04 18:04] Melvin-Abraham commented on #35
@Whiteshadow-hacker Can you try deleting the `package-lock.json` file and try again?

[2020-11-05 08:46] Whiteshadow-hacker commented on #35
dude, can you please tell me how to execute npm run with the --no-sandbox flag ??, when i removed the package-lock.json it installed well but i dont know how to run it in root

[2020-11-05 09:10] Whiteshadow-hacker commented on #35
dude, I figured out the problem !!! the error is neither with electron nor with your code !!! the problem is that it is not running in root !!!  when I try running it as a normal user it works good. but not as root ........ can you please tell me how to run it in root??, because i am a guy who always use root account !!!! anyways thank you very much for you support..... i became a fan of yours :+1

[2020-11-05 15:35] Whiteshadow-hacker commented on #35
if you can please tell me how to run it on root!!

[2020-11-05 15:59] Whiteshadow-hacker commented on #35
or else if possible can you please release a .deb of the code ?? so it'll be easy for Debian users to install.

[2020-11-05 16:06] Melvin-Abraham commented on #35
@Whiteshadow-hacker I think you are already a root user. You might notice a `#` instead of `$` at the end of the prompt meaning you are the root user.

[2020-11-05 16:07] Melvin-Abraham commented on #35
Also, just out of curiosity, can you explain how you figured out what the problem was?

[2020-11-05 16:08] Melvin-Abraham commented on #35
After deleting the `package-lock.json` you need to run `npm install` again. After that is done, you can proceed to `npm start`. Also, you don't need to use any flags when executing the start command...

Can you let me know if this causes any issues?

[2020-11-05 17:24] Whiteshadow-hacker commented on #35
yes, dude, when I run npm start it says "Running as root without --no-sandbox is not supported" that's why i asked you how to run as root !!! I figured out the problem just by my instinct, i thought of running it in a normal user and it worked !!! so i concluded that there is some problem with the root. there is no error in what you said.

[2020-11-05 17:26] Whiteshadow-hacker commented on #35
dude, i would really really love to use your google-assistant on my computer i have been searching a google-assistant setup for my linux for months. please help me run it on root !!!

[2020-11-06 14:03] Melvin-Abraham commented on #35
Try changing `"start": "electron ."` under _"scripts"_ in **package.json** to `"start": "electron --no-sandbox ."` and try `npm start` again. Tell me if you encounter any issues...

[2020-11-06 14:10] Whiteshadow-hacker commented on #35
dude, I am sorry to say but I got the very same error again !!!!
![Screenshot from 2020-11-06 19-38-51](https://user-images.githubusercontent.com/56890843/98375204-d3ad4380-2067-11eb-913c-c346f146b9ba.png)

[2020-11-13 09:11] Melvin-Abraham commented on #35
@Whiteshadow-hacker Sorry for the delay. I have added a new commit for verbose logging which might give an idea at which point the error occurs. You can run the assistant with verbose logging in the console by executing the following line:

[code]

_PS: Be sure to pull the latest changes from this repo beforehand._

[2020-11-13 11:58] jfretin commented on #35
Hello there @Melvin-Abraham . I had the same error for some time, so I took the time to debug. It seems that the problem is that in some case, the window size is not what has been defined in onAppReady function (ie. 1000x420).

If I output window size as fetched in line 369 of app.js
`let windowSize = mainWindow.getSize();`
it gives me 1001x421 ... So the division by 2 gives a float, and I think i

[2020-11-13 13:31] Melvin-Abraham commented on #35
@jfretin Thanks a lot for taking time to figure that out 🥳. I totally missed the information that `setPosition()` only accepts integer as an argument and also that the window size may vary from what is defined. So, a simple `Math.floor()` would fix this issue right away. Let me add a commit for the same. Again, thanks for this :)

[2020-11-13 13:44] jfretin commented on #35
I confirm it now launches without error! Thanks!

@Whiteshadow-hacker can you try this fix please?

[2020-11-15 07:08] Whiteshadow-hacker commented on #35
@jfretin @Melvin-Abraham thank you very much for your efforts guys !!! i really appreciate that :smiley: but can you please be clear on what i have to do now to get it working ?, i am not a javascript programmer !!!

[2020-11-15 17:16] Melvin-Abraham commented on #35
@Whiteshadow-hacker There's nothing that can be done about this as it is a bug within the app itself. This will be patched in the future release. For the time being you can pull all the latest changes from this repo (using `git pull origin master`) and build it locally (using `npm run dist`).

Hope that will work :)

[2020-11-16 06:00] Whiteshadow-hacker commented on #35
@Melvin-Abraham thank you very much dude, I've become a fan of your application. i hope it'll come soon !!!! :smiley:

[2020-11-16 06:00] #35 closed

[2020-11-16 06:15] kheshav-coder opened #38 "[Feature Request] integrating the google assistant with the system"
I would want my google assistant to control my computer to mainly show up web related information on my browser, what i mean is, when i ask simple questions like "where is italy located" the output is just a blank screen and a voice saying "here is what i found from wikipedia" (no info displayed on screen). I want the assistant to open my browser and show up the wikipedia content what was found re

[2020-11-17 01:22] Bulwagga commented on #24
I'm using Ubuntu 20.10 and Super-Shift-A doesn't cause anything to happen.

[2020-11-20 09:41] regisandre commented on #38
It's like this feature request: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/33

[2020-11-20 10:28] kheshav-coder commented on #38
@regisandre #33 requests to surpass Cortana to make google-assistant as the default talking assistant, but I requested to give basic computer access permissions to google-assistant, generally to open a browser and search for something as it does in android.

[2020-11-20 10:35] regisandre commented on #38
The request title is "Integrate the assistant more deeply in the system" and in my request I wrote "And a lot of other things..."

[2020-11-20 13:04] Melvin-Abraham commented on #38
@kheshav-coder Well, this feature used to be working until Google Assistant SDK changed the response for these queries to "not-so-helpful" text. I would give some thought on getting that to work. In the meantime, if anyone has a suggestion regarding this, it would be helpful.

[2020-11-20 13:08] Melvin-Abraham commented on #38
@regisandre The title might seem similar to your issue but based on the description this seems different. @kheshav-coder Maybe the title for this issue could be modified accordingly as the this issue is not related to system integration.

[2020-11-20 17:12] kheshav-coder commented on #38
@Melvin-Abraham sure dude !!!, thank you for considering :smile:

[2020-11-26 00:33] mxcyborg opened #39 "Unexpected Exception Occured"
Unexpected Exception Occured
An unexpected error occurred.
Error: Tried calling start() before the ready event!

I set up my google actions and added the key file path. then this appeared and i cant get rid of it
![Screenshot_1](https://user-images.githubusercontent.com/75050555/100294538-f9e74480-2f7e-11eb-8e76-085da2e90630.png)

[2020-11-26 04:44] Melvin-Abraham commented on #39
Similar to issues: #23 and #21

[2020-11-26 06:50] #39 closed

[2020-11-26 06:55] Melvin-Abraham commented on #39
Fixed in dd67747. Since, this fix will not be readily available until next release, you can either clone this project and build it yourself or if you do not want to build it yourself, you can _temporarily_ disable **Settings** > **Conversation** > **Enable microphone on application startup**, relaunch assistant and let the assistant save the tokens after which you can enable the setting again.

[2020-11-27 05:20] the-quantum-nargle opened #40 "Linux executables fail to launch"
**Describe the bug**
I tried installing the snap but I got a pop up error textview with boxes on it. When I tried to open the AppImage I got a similar-looking text view but with proper text. As seen here:
![image](https://user-images.githubusercontent.com/63701425/100413606-d2d36480-309d-11eb-9a5b-aa480d0a115b.png)
I'm using Arch Linux and I've tried the same on XFCE and GNOME environments.

**To

[2020-11-27 16:05] Melvin-Abraham commented on #40
Similar to issue #35

@the-quantum-nargle Can you try cloning this repo and run via `npm start:verbose`?
Let me know if the persists

[2020-11-27 23:00] Controlfreak707 opened #41 "Web results do not appear"
**Describe the bug**
Upon searching for web results, the Google Assistant states results have been found however none are shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate assistant
2. Search for web results (Ex: "Search for GitHub", "Show me pictures of frogs", "Give me web results for Electron")
3. Google Assistant states results were found
4. No results are shown

**Expected

[2020-11-28 07:29] Melvin-Abraham commented on #41
@Controlfreak707 Web results used to work before but later on Google Assistant SDK stopped showing up web results and links for such queries. This however will be worked upon soon :)

**PS:** This concern was raised few days ago in issue #38.

[2020-11-28 07:42] Melvin-Abraham commented on #13
@adel-sbeh Window border has been added as per the commit 72b8932. This should be enough to create distinction between the application and the background. I hope this resolves your issue to some extent.

[2020-11-29 02:11] CorvetteCole opened #42 "Ability to change hotkey"
I would simply love to be able to change the hotkey to whatever I want. That is all, could not see an option for that. Thank you

[2020-11-30 00:34] Dvalin21 opened #43 "More instructions needed."
<!--
NOTE:

Limit this issue to not more than **one bug report** for clarity and discoverability.
Keep the issue concise and clear as much as possible.

Hello and thank you for the hard work in this project.  The only issue that Im having is when I get to the part its suppose to issue a token, i use my account, but it says permission denied, either the dev didnt give me access or Google hasn't rev

[2020-11-30 05:00] Melvin-Abraham commented on #24
@Bulwagga You will have to wait for sometime to let the assistant initialize (indicated by colorful tray icon as opposed to grayscale tray icon).

[2020-11-30 05:03] Melvin-Abraham commented on #42
_Duplicate of #24_

Any further updates will be posted there.

[2020-11-30 05:07] Melvin-Abraham commented on #43
This issue neither contains any verbose description nor does it have any descriptive title.

Hence, closing as **invalid**.

This issue will be reopened once all the above conditions are met. In such case you can @mention. Also, use issue template if possible to keep this issue consistent.

[2020-11-30 05:07] #43 closed

[2020-11-30 08:40] logant547 opened #44 "Option to disable the indicator and launch the app from the launcher (Linux)"
Please give us the option to disable the indicator, so when you click on the icon's launcher it runs instead of starting it through the indicator menu.

[2020-11-30 10:29] Melvin-Abraham commented on #13
_Closing as resolved..._

[2020-11-30 10:29] #13 closed

[2020-11-30 20:13] Picoseconds commented on #31
That's not possible

[2020-11-30 20:38] gui679 opened #45 "[Issue][Ubuntu 20.04] Not Working Mic or Config Button."
**Describe the bug**
I've just installed by snap command, as the main page says...
When I open it from the tray, it opens normally but i can't send commands, the mic button doesn't work, neither the config button.
the screen is not frozen because the animations works, the close and maximize button works, and the text box works (but not send commands anyaway)
i've opened from the terminal just to s

[2020-11-30 23:31] CorvetteCole opened #46 "Shortcut/Hotkey does not work in Wayland sessions on Linux"
**Describe the bug**
The super+shift+a hotkey does not work in Wayland sessions.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a DE in a Wayland session (note: Nvidia cards do not run Wayland)
2. Verify it is Wayland with `echo $XDG_SESSION_TYPE`
3. Attempt to launch the assistant with super+shift+a

**Expected behavior**
Assistant launches

**Desktop (please complete the following i

[2020-11-30 23:34] CorvetteCole commented on #24
@Bulwagga are you in a Wayland session? I've run in to this in #46

[2020-11-30 23:38] CorvetteCole opened #47 "Command to launch Assistant"
<!--

**Is your feature request related to a problem? Please describe.**
Having a command to launch the assistant like the hotkey is supposed to would allow me to use system hotkeys to activate the assistant, solving #46

**Describe the solution you'd like**
A command to launch Google Assistant so that it opens the existing instance when ran. Current commands to run it require a new instance to be

[2020-12-01 06:24] morozdan2003 commented on #45
I had the such problem, but it solved by clicking "Get Started" button. Did you tried to do such action?

[2020-12-01 06:29] morozdan2003 opened #48 "Add Russian Language"
**Is your feature request related to a problem? Please describe.**
Google Assistant officially supports Russian language, but your app isn't. Google Home device supports Russian language too, so it supposed to be inplemented in Google Assistant API.

[2020-12-01 10:27] Itai-Nelken opened #49 "dosn't work on raspberry pi"
**Describe the bug**
I tried to build this app on Ubuntu 20.10 for the [Raspberry Pi](https://www.raspberrypi.org/), `npm install` finished successfully but when running `npm start` the tray icon appears but nothing else works. clicking on the icon and selecting `launch assistant` doesn't do anything. I included a screenshot of the terminal output.

**To Reproduce**
Steps to reproduce the behavior

[2020-12-02 01:20] Bulwagga commented on #24
I never got beyond the gray icon.  I'm pretty sure I didn't wait long enough.  I'm using a standard 20.10 Ubuntu install.  I'm OK closing this. Thank you.

[2020-12-02 10:01] Melvin-Abraham commented on #48
@morozdan2003 This application uses Google Assistant SDK in the core which is different from the official Google Assistant Client. Thus, it has limited number of support for languages. You can track the language support for Google Assistant SDK [here](https://developers.google.com/assistant/sdk/reference/rpc/languages).

Although, you can use a workaround. If you have an Android Device, you can se

[2020-12-02 10:05] Melvin-Abraham commented on #44
@logant547 That seems like a reasonable request. Though, tray indicator will not be removed but instead an option to launch it directly on the first run will be added soon.

[2020-12-02 10:08] Melvin-Abraham commented on #45
@gui679 The settings button is intentionally disabled since when you first install and run the assistant no config file is created. You will need to press "Get Started" and "Proceed" button successively to continue.

[2020-12-02 10:09] Melvin-Abraham commented on #45
_Closing as resolved._

[2020-12-02 10:09] #45 closed

[2020-12-02 10:10] logant547 commented on #44
OK, thanks.

[2020-12-03 07:02] #48 closed

[2020-12-12 07:24] #24 closed

[2020-12-12 07:24] #42 closed

[2020-12-12 10:38] Melvin-Abraham commented on #24
The assistant hotkey can now be changed from within the settings:
**Settings** > **Application** > **Assistant Hotkey**.

[2020-12-12 14:43] HimanM opened #51 "its not working"
when i click mic button or when i do a random search.

[2020-12-12-20-07-49.zip](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/files/5683250/2020-12-12-20-07-49.zip)
here is the video and i already set my tokens and things but not working

[2020-12-12 15:39] niksingh710 commented on #24
I have version 1.0.0-rc.2 and when I check for update it says "You have the latest version".
Installed it via Snap.

[2020-12-12 16:23] Melvin-Abraham commented on #51
@HimanM Can you open DevTools  via **Ctrl + Shift + I** _(after launching the assistant)_ and share the error log?

[2020-12-12 16:28] Melvin-Abraham commented on #24
@niksingh710 That's because no new version has been released. This feature will be added to the next version after some time in addition to other bug fixes and enhancements. Meanwhile, you could test it if you want by cloning the repo and running/building it. :)

[2020-12-12 16:29] HimanM commented on #51
Ah thanks man i found the problem and i accidently disabled the api 😂.
Sorry for the interruption.

Great work btw

On Sat, Dec 12, 2020, 21:53 Melvin. L. Abraham <notifications@github.com>
wrote:

[2020-12-12 17:03] Melvin-Abraham commented on #51
@HimanM Thank you for confirming.
_Closing this issue as resolved_.

[2020-12-12 17:03] #51 closed

[2020-12-13 17:48] Melvin-Abraham commented on #47
Is your feature request similar to #44?

[2020-12-14 12:34] #27 closed

[2020-12-18 15:32] thecoder-001 commented on #49
Can you please try to install following packages (or check if they are already installed)? This possible could solve the issue, though I'm not 100% certain.
[code]
Ps: restart your pi after installing and then try again.

[2020-12-20 06:14] paperfairy opened #52 "Automatic microphone trigger"
**Is your feature request related to a problem? Please describe.**
I use Google Assistant primarily with voice. When I trigger the app with the hotkey, I then need to navigate my mouse in order to click the microphone.

**Describe the solution you'd like**
I would like the option to trigger the microphone automatically, allowing me to press a hotkey and begin speaking.

**Describe alternatives you

[2020-12-20 06:16] #52 closed

[2020-12-20 19:47] CorvetteCole commented on #47
@Melvin-Abraham it depends on the implementation. I am trying to work around hotkeys not working in Wayland sessions with this. I can bind key combos to run commands, so if I could run the command to launch the app and have that open the assistant instead of throwing an error because only one instance can run at once that would be ideal.

It could be similar, depends on implementation

[2020-12-20 22:15] VinceBT commented on #28
I think this option might be the good one !

[2020-12-21 14:32] redevunlink commented on #49
Worked and ran well on raspbian (=NOOBS).
Ubuntu on ARM could be problem.

[2020-12-22 04:44] Itai-Nelken commented on #49
didn't work for me on RPiOS (32bit)

why?

`libgl1-mesa-swx11` isn't found in the RPi repository, I still have to test on Ubuntu.

[2020-12-22 07:23] redevunlink commented on #49
2020. 12 Update (32-bit) ran well except "start()" related error.
I believe that ARM could miss some libraries due to compatibility problems.

[2020-12-22 09:08] Melvin-Abraham commented on #49
@Itai-Nelken Since I do not own a Pi, I cannot debug this issue from my side. Anyway, can you try the following?

- Clone this repo
- Insert the line `app.disableHardwareAcceleration()` in **"app.js"**
- Run via `npm run`

If the problem still exists, do share it here.

[2020-12-22 17:25] Itai-Nelken commented on #49
@Melvin-Abraham here is the terminal output when running `npm start` after adding that line to **"app.js"**:
[code]

[2020-12-23 10:01] Melvin-Abraham commented on #49
Can you try executing:

[code]

Make sure you have the latest version of `grpc` (**1.24.4** as of now), since, an older version of `grpc` dependency will not compile for this electron runtime version.

---
**Ref:** https://github.com/electron/electron/issues/8466#issuecomment-571802049

[2020-12-23 10:05] Melvin-Abraham commented on #47
@CorvetteCole This will be worked upon soon after the addition of CLI support.

[2020-12-23 11:45] Itai-Nelken commented on #49
how do I install `grpc`?<br> `npm install grpc`?

[2020-12-23 13:34] Melvin-Abraham commented on #49
@Itai-Nelken Yes, you can directly execute that as well. Alternatively, you can check the version of `grpc` specified in **package.json** under `dependencies`, make it "1.24.4" if it's not and then run `npm install`.

[2020-12-23 15:16] #44 closed

[2020-12-24 13:46] bhatmuchas007 commented on #34
Hello, The same problem Is also faced by me. The system gives a **javascript error** when I try to open the version 1.0.0-rc.2  **(THE LATEST ONE)**

[2020-12-25 12:21] Itai-Nelken commented on #49
@Melvin-Abraham

here is the output:
[code]
here is the `npm` log if it helps:
[2020-12-25T12_17_51_552Z-debug.log](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/files/5741948/2020-12-25T12_17_51_552Z-debug.log)

[2020-12-26 12:42] StewioDeveloper opened #53 "Content didn´t show"
Hello!
If i wanna search or view my google photos, it shows nothing.
I tried the same commands on the phone and they worked fine.
Please fix it!
Thanks! :)

[2020-12-27 09:41] edgolub commented on #53
As well as third party integrations or any content really. Say "Show me my reminders", it shows them (I guess)? But I am not seeing them in the window?

[2020-12-27 09:44] edgolub commented on #53
This is related to this task #41 , I'd say a duplicate.

[2020-12-27 13:42] OmarShawky1 opened #54 "not working out of the box"
**Describe the bug**
not working out of the box when i installed from snap

**To Reproduce**
Steps to reproduce the behavior:
1.just try to run it (no matter what permissions you give it)

**Desktop (please complete the following information):**
 - OS: Elementary OS Hera 5.1.7

[2020-12-29 04:43] Melvin-Abraham commented on #54
@OmarShawky1 By default the assistant will be hidden and minimized to tray when launched. You will need to follow either steps to launch the assistant after running the application:

- Try launching the assistant with the keyboard shortcut `Super + Shift + A`
- Right-click on the Google Assistant tray icon and click on **"Launch Assistant"**

**PS:** The assistant will take some time to initialize

[2020-12-29 04:58] Melvin-Abraham commented on #53
@StewioDeveloper Viewing photos from Google Photos works just fine for me. I think it has to do something with permission to access your personal results. Check you can access your reminders within the app (you may not see the content without disabling "Enable Auto Scaling" setting).

I'm not sure if this is an issue related to improper rendering of the content. To ensure that, I would encourage y

[2020-12-29 05:33] Melvin-Abraham commented on #34
@bhatmuchas007 Can you share the screenshot of the error? What OS are you using? Are you using running the binary from the "Releases" or executing via `npm start`?

[2020-12-29 05:39] Melvin-Abraham commented on #34
@regisandre Can you try the following?

- Try removing the application shortcut from **"shell: startup"**
- Clone this repo or fetch latest changes
- Run `npm install`
- Run `npm run dist`
- Go to `dist/` directory and run the installer

Check if the problem still exists...

[2020-12-29 06:04] BakaDolev opened #55 "Cant authorize"
When i try to authorize the app for the token it says access denied

Authorization Error
Error 403: access_denied
The developer hasn’t given you access to this app. It’s currently being tested and it hasn’t been verified by Google. If you think you should have access, contact the developer (thebaka1272@gmail.com).

**Screenshots**
![Screenshot_3](https://user-images.githubusercontent.com/76722418/

[2020-12-29 09:21] OmarShawky1 commented on #54
as you can see from the system monitor:

[2020-12-29 09:25] BakaDolev commented on #55
Nvm fixed it

[2020-12-29 10:22] Melvin-Abraham commented on #54
@OmarShawky1 You are checking in the dock, tray generally resides on the top-right side of the screen:

!["g-assist" Tray Icon](https://user-images.githubusercontent.com/26056183/103276592-fd8e4100-49ec-11eb-9dd9-9b283139b329.png)

Also, Seems like you missed one of the keys _(the `Super` key, same as the `Windows Key`)_ when pressing the hotkey. The correct key combination is `Windows Key + Shift

[2020-12-29 12:40] OmarShawky1 commented on #54
actually it works, but in elementary OS the icon tray does not appear at all as in this picture:
![image](https://user-images.githubusercontent.com/51538094/103284307-8e601f00-49e3-11eb-828d-8d71db203dc7.png)

generally the issue is resolved :)

[2020-12-29 15:19] #54 closed

[2020-12-29 15:27] OmarShawky1 opened #56 "App does not open through shortcut after long time kept idle"
**Describe the bug**
applications cannot be launched if it has been kept unused for half an hour (more or less) and i need to instantly kill the process to restart it

**To Reproduce**
Steps to reproduce the behavior:
1. keep it idle for half an hour

**Expected behavior**
after i press Super+ Shift + A it should show me the Google Assistant Interface

**Desktop (please complete the following info

[2020-12-29 17:14] Melvin-Abraham commented on #55
@BakaDolev Thank you for reporting this issue. I have updated the wiki as per the latest changes.

**Link:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop-Client

[2020-12-29 17:14] Melvin-Abraham commented on #55
_Closing as resolved_

[2020-12-29 17:14] #55 closed

[2021-01-03 05:09] Mr-Dalgleish opened #57 "ISSUE: Assistant not working."
**Describe the issue**
When tapping the microphone button on the UI, it shuts off straight away, however, the assistant 'bing' came up when pressing the mic. When typing to it, a blue loading bar goes halfway on the bottom of the header and shows what I've typed on the top of the window, no output noise or response was given.

**Screenshots**

[Assistant Capture.zip](https://github.com/Melvin-Abra

[2021-01-03 14:11] Melvin-Abraham commented on #57
@Mr-Dalgleish After opening the assistant, can you perform these actions with the DevTools open _(`Ctrl + Shift + I` or **Settings** > **Developer Options** > **Open DevTools**)_ and share the error logs?

[2021-01-03 23:00] ozgurgulsuna opened #58 "Error: Getting metadata from plugin failed with error: invalid_grant"
***
***You are Offline!***
***Please check your Internet Connection...***
***Error: Getting metadata from plugin failed with error: invalid_grant***

This is the error I get when I try to interact with it.
***
**Here is the console output**
[code]
**Error on DevTools**
[code]
**Screenshots**
![Screenshot_20210104_015326](https://user-images.githubusercontent.com/38794995/103490853-bc07f680-4e2f-11

[2021-01-04 00:27] Mr-Dalgleish commented on #57
Nevermind, it just started to work miraculously. Might have been a sync error with the API.

[2021-01-04 00:27] #57 closed

[2021-01-04 03:50] Melvin-Abraham commented on #58
@ozgurgulsuna You can fix this by deleting the tokens file that was fetched by the application (as per the _"Saved Tokens Path"_) and relaunch the assistant. You will again be presented with **"Get Token!"** screen. Authenticate your Gmail account again and let it fetch the tokens. This should possibly fix the issue...

[2021-01-04 04:27] Melvin-Abraham commented on #25
_Closing as stale_

[2021-01-04 04:27] #25 closed

[2021-01-04 05:56] Melvin-Abraham commented on #40
_Closing as stale_

[2021-01-04 05:56] #40 closed

[2021-01-05 01:30] paperfairy commented on #58
@Melvin-Abraham Following these steps doesn't give me a new token, but it gives me a code. Where do we dump this code?

https://i.imgur.com/RA3H1y8.gif

[2021-01-05 05:18] Melvin-Abraham commented on #58
@paperfairy This was a known issue (see #39). The patch will be released in the next release. For the time being this should help:

_Ref: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970_

[2021-01-05 06:08] Dixit-deegit opened #59 "[issue][Solved] Not respondig In linux ,"
**Describe the bug**
Not answering or responding also the mic is not working.
when I typed I don't get an answer.
After Restart os  client, not running like a close button, setting button.

**Screenshots**
Not respondig image
![Screenshot from 2021-01-05 11-09-25](https://user-images.githubusercontent.com/72870029/103612078-a7b81c80-4f49-11eb-899b-90577f786b1e.png)

**Desktop (please complete the

[2021-01-05 06:14] Dixit-deegit commented on #59
Please help me

[2021-01-05 06:14] Dixit-deegit commented on #59
Please help me please

[2021-01-05 06:16] Dixit-deegit commented on #59
Its closed by mistake.

[2021-01-05 06:30] Dixit-deegit commented on #59
solved
solution:--- re-enable assistant API services. check top google bar to ensure that you select your current assistant project

[2021-01-05 09:31] fabrixx opened #60 "my location is far from my real"
If I type "take me to work" the destination path is correct but the departure is from "Daniela saviori, 24054 Calcio BG" why does this address appear as I live very far from there? The same address is associated with my location.

Who is Daniela Savori? Why that address is associate with my Google Account from this Application?

Is my privacy safe using this application?

from my desktop my positi

[2021-01-05 11:08] Dixit-deegit opened #61 "[Feature Request] Needs more feature improvement like "ok Google""
**Describe alternatives you've considered**
Ok Google feature needed .

[2021-01-05 11:14] Dixit-deegit commented on #60
You can use command lik "ok Google set my location to (your location)"

[2021-01-05 11:22] DixitRam opened #62 "[Need Help] How can i change transparency ??"
I Want to Change my Google Assistant Transparency .
I also tried dev tools but it's not work 😞😭.
Please help me......

[2021-01-05 11:45] fabrixx commented on #60
Yes give my my correct location, but if i say "take me to work" or take me in every place the starting point is Daniela saviori, 24054 Calcio BG every time...curious.

In google maps all is ok, very strange.

[2021-01-06 04:41] Dixit-deegit commented on #53
I tried google photo are shown but google map/youtube results /google results / are not showing

[2021-01-06 11:02] tjsuominen opened #63 "Getting the device registration more end-user friendly?"
Any possibility to have the device registration / "token files" either:

a) obsolete (not needed) OR
b) more user friendly (in terms of simplified process)

or is this just because "Required by Google"?`

[2021-01-06 13:08] rodrigoswz commented on #58
I was with the exact same problem, doing that fixed it. Thank you!

[2021-01-07 04:42] Melvin-Abraham commented on #59
_Closing as resolved._

[2021-01-07 04:42] #59 closed

[2021-01-07 04:46] Melvin-Abraham commented on #61
This feature is planned for future and will surely be added later once the essential fixes and features are included

[2021-01-08 04:46] Melvin-Abraham commented on #60
@fabrixx The results are mostly up to Google, since this application uses Google Assistant SDK in its core. This issue would be looked into later sometime. Also, are you getting the same location from Google Assistant in your device?

This application just serves you the results from the SDK based on your query and all the results stays within the application itself. If you still want to clear thi

[2021-01-08 13:22] ozgurgulsuna commented on #58
doing that also fixed it for me, thanks a lot !

[2021-01-08 13:22] #58 closed

[2021-01-09 03:46] CleverCarpet opened #64 "Controller hotkey"
Can you add a feature for controllers to active google assistant? I have the stadia premiere edition controller and it works out of the box with windows now and the stadia button will open steam without any configuration but I also want to be able to use google assistant by pressing the button. The google assistant button is identified as b 17, if you are able to add that, that would be very nice.

[2021-01-11 16:05] teenspirit7 opened #65 "[Bug?]Constant use of microphone"
Hi, until there is 'Ok Google' support is there a need for the app to constantly be 'using your microphone' according to windows showing the mic icon in the taskbar?

Windows 10 Latest

Love the app by the way, great job.

Thanks,

![image](https://user-images.githubusercontent.com/1161466/104205831-c5442500-5426-11eb-8d93-5c2d98ee29cb.png)

[2021-01-11 17:13] Melvin-Abraham commented on #65
Duplicate of #30. This issue has already been reported and has been fixed 😃. For bug details, refer https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/30#issuecomment-718846607

The fix will be available in the next release of this app. Till then if you want to test it, you can clone this repo and run it locally (see [How to build?](https://github.com/Melvin-Abraha

[2021-01-11 17:13] #65 closed

[2021-01-12 07:53] AnishDe12020 commented on #63
It is more of a Required by Google case as it is unofficial and the API is in use

[2021-01-12 07:58] AnishDe12020 opened #66 "No response after I ask it a question"
I don't get any response from the application (no audio, visual or text response) after asking a question (refer to the attached screenshot)
![image](https://user-images.githubusercontent.com/63192115/104285585-def27480-54d9-11eb-9d52-798dfccc94b3.png)

I have completed the setup process and it doesn't give me any error for that. Also this used to work but after reinstalling it, it became buggy. I

[2021-01-12 08:11] AnishDe12020 commented on #66
I think I figured it out. Got a new client secret file and relogged in and now it works. I am closing the issue

[2021-01-12 08:11] #66 closed

[2021-01-12 08:52] Melvin-Abraham commented on #66
@AnishDe12020 This generally happens when the Google Assistant API is not enabled

![Enable Google Assistant API](https://user-images.githubusercontent.com/26056183/104291312-64c5ee00-54e1-11eb-9882-6e761f4a0e8a.png)

You can follow steps 4 through 8 of [Guide: Configure Consent Screen](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Googl

[2021-01-12 10:42] tjsuominen commented on #63
Ah I see, then we'll have to live by that.

[2021-01-12 10:42] #63 closed

[2021-01-12 15:13] SlavenDj opened #67 "Not able to open Google Assistant on windows 10"
I have just installed the app and I couldn't open it. In task manager, it just appears for a second and disappears again.

 - OS: Windows 10 Build 2004
 - Version 1.0.0-rc.2

[2021-01-12 16:33] kheshav-coder opened #68 "unexcepted exception occured"
just before few days the google assistant was working good but i don't why its not working now, it says some unexpected error occured.....
![Screenshot 2021-01-12 22:07:01](https://user-images.githubusercontent.com/61469266/104344104-be9ad800-5522-11eb-8fc0-1e4b0bac045b.png)

[2021-01-12 16:34] Melvin-Abraham commented on #67
@SlavenDj The application immediately minimizes to the tray (check hidden icons on the right side of taskbar). You can launch it with either of these ways:

- Press `Windows Key + Shift + A`
- OR Right click on the Google Assistant Tray Icon and click on **"Launch Assistant"**

[2021-01-12 16:39] kheshav-coder commented on #68
i tried relauncihin the assistant but still the same condition !

[2021-01-13 14:25] Melvin-Abraham commented on #68
@kheshav-coder Can you open the DevTools _(`Ctrl + Shift + I` or **Settings** > **Developer Options** > **Open DevTools**)_ and share the error log you get in the console when this error occurs?

[2021-01-14 18:31] kheshav-coder commented on #68
error log in console:
![Kazam_screenshot_00000](https://user-images.githubusercontent.com/61469266/104633168-c4302380-56c4-11eb-8ee6-94a56d572f69.png)

[2021-01-15 05:02] Melvin-Abraham commented on #68
@kheshav-coder The following error occurs since the Assistant is not initialized. Unfortunately, it does not tell anything about what is causing the error in the first place. I will push a commit soon for improved error logging in the console which would give better insights regarding the cause of errors...

[2021-01-15 05:10] kheshav-coder commented on #68
@Melvin-Abraham ok dude sure, thank you !

[2021-01-15 09:52] Melvin-Abraham commented on #68
@kheshav-coder Can you clone this repo and run the assistant locally via `npm start` and send the error log if you get the error? Do make sure to use the same key file and tokens file...

[2021-01-16 09:05] kheshav-coder commented on #68
dude, I think there were some dependency issues...... I tried reinstalling and it works perfectly fine.... thank you for your help !!!👍

[2021-01-16 09:05] #68 closed

[2021-01-19 08:36] Antoni-Czaplicki opened #69 "Add support for turning on and off computer"
**Describe the solution you'd like**
Add support for turning on and off PC

**Describe alternatives you've considered**
It would be nice to also add volume control and brightness

[2021-01-20 03:51] Melvin-Abraham commented on #69
@Antoni-Czaplicki System integrated features will be added later on to the assistant once all the essential enhancement and bug fixes are addressed...

[2021-01-21 02:20] kbdharun opened #71 "The Desktop Client Shows, Error: Getting metadata from plugin failed with error: invalid_grant"
**Describe the bug**
My Computer has Internet and It works properly but the Client Shows this message
You are Offline!
Please check your Internet Connection...
Error: Getting metadata from plugin failed with error: invalid_grant

**Expected behavior**
To Work Properly without any hiccups.

**Screenshots**

![Google Assistant Unofficial Client 21-01-2021 07_47_38 AM](https://user-images.githubuserc

[2021-01-22 05:53] Melvin-Abraham commented on #71
Duplicate of #58

You can refer to the following comment to fix this issue: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

[2021-01-22 05:53] Melvin-Abraham commented on #71
_Closing as Duplicate_

[2021-01-22 05:53] #71 closed

[2021-01-22 07:53] kbdharun commented on #58
Thanks, Sorry I didn't know this was already there, and I am Extremely Sorry for Duplicate Comment.

[2021-01-22 07:53] kbdharun commented on #71
Thanks, Sorry I didn't know this issue has already been addressed

[2021-01-24 06:53] Melvin-Abraham commented on #67
_Closing as stale_

[2021-01-24 06:53] #67 closed

[2021-01-24 15:41] DarkFlame57 opened #72 "Mic always on"
Hello, in pavucontrol it looks like the mic is always on, please make it possible to disable this behavior.
![123](https://user-images.githubusercontent.com/49563183/105635425-a1d39e00-5e5a-11eb-8542-24befac69238.png)

[2021-01-25 10:11] Melvin-Abraham commented on #72
Duplicate of #30 and #65

This issue has already been reported and has been fixed. For bug details, refer https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/30#issuecomment-718846607

The fix will be available in the next release of this app. Till then if you want to test it, you can clone this repo and run it locally (see [How to build?](https://github.com/Melvin-

[2021-01-25 10:11] Melvin-Abraham commented on #72
_Closing as Duplicate_

[2021-01-25 10:11] #72 closed

[2021-01-26 09:37] Hans0131 opened #73 "Inputing Token"
I can't input the token because if I open google assistant, it will send an error in less than a second, then it will close its self, then it redirects me to sign in and all that stuff ( I did that already ), then when I open it again, the same thing happens? Help please, thank you very much!

[2021-01-26 10:50] dark-galaxy20 commented on #73
Same

[2021-01-26 10:53] dark-galaxy20 opened #74 "program closes when I want to enter key file path"
When I click "browse" next to "key file path" or I put the location of the file manually and click save, the app closes automatically

[2021-01-28 04:56] Melvin-Abraham commented on #73
@Hans0131 Can you check if your issue is similar to #39?
If yes, you can refer https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970 to fix your issue for the time being.

[2021-01-28 04:58] Melvin-Abraham commented on #74
Can you check if the application is still open in tray like so?

!["g-assist" Tray Icon](https://user-images.githubusercontent.com/26056183/103276592-fd8e4100-49ec-11eb-9dd9-9b283139b329.png)

[2021-01-28 04:59] Melvin-Abraham commented on #74
@dark-galaxy20 Can you check if the application is still open in tray like so?

!["g-assist" Tray Icon](https://user-images.githubusercontent.com/26056183/103276592-fd8e4100-49ec-11eb-9dd9-9b283139b329.png)

[2021-01-28 07:25] dark-galaxy20 commented on #74
@Melvin-Abraham I checked it, no after I click the browse button it closes and it doesn't remain open in tray.

[2021-01-29 01:48] malik3453 opened #76 "authentication"
Unexpected Exception Occured
An unexpected error occurred.
Error: Tried calling start() before the ready event!

when i entered the token and relaunch this pops up

[2021-01-29 03:19] Melvin-Abraham commented on #76
@malik3453 Seems like a duplicate of issue #39.
You can refer https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970 to fix your issue for the time being.

[2021-01-29 03:20] Melvin-Abraham commented on #76
_Closing as duplicate_

[2021-01-29 03:20] #76 closed

[2021-01-29 03:49] Melvin-Abraham commented on #74
@dark-galaxy20 Since, error logging for main process is not available in **v1.0.0-rc.1**, you may try the following:

1. Clone this repo using `git clone ...` and install the dependencies using `npm install`
2. Start the application (using `npm start`) and open the settings
3. Scroll down to **"Developer Options"** and click on **"Open App Data Folder"**
4. Try changing the desired settings and sa

[2021-01-29 16:24] PangwenE opened #77 "Assistant does not respond when question is asked."
**Describe the bug**
A clear and concise description of what the bug is.
When I ask the assistant something, I get no response.
**To Reproduce**
Steps to reproduce the behavior:
1. Open Google Assistant Desktop Client
2. Ask it something
3. For me it doesnt work

**Expected behavior**
A clear and concise description of what you expected to happen.
An answer I guess?

**Screenshots**
If applicable,

[2021-01-29 22:19] lithium-codes commented on #77
beep boop bop beep please reespond

[2021-01-30 03:40] Melvin-Abraham commented on #77
@lithium-codes Your issue seems to be similar to #66.

The following might help:

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/66#issuecomment-758506287

[2021-02-01 01:56] Hans0131 commented on #73
Ok thanks!

On Thu, 28 Jan 2021 at 12:56, Melvin. L. Abraham <notifications@github.com>
wrote:

[2021-02-01 20:04] aronkvh opened #78 "403 error when trying to get token"
I get this error when trying to login to access the token.
what am I doing wrong?

[code]
 - OS: [KDE Neon focal]

[2021-02-02 06:38] Melvin-Abraham commented on #78
@aronkvh You seem to have skipped configuring the consent screen. You can get help with setting up consent screen using [this link](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop-Client#configure-consent-screen)

[2021-02-02 20:39] ItzMarSire opened #79 "Memory usage"
Seeing high memory usage in Task Manager, when its idle.

More than chrome, which is known to have high usage.

https://i.imgur.com/lmKBBD3.png

[2021-02-07 16:55] aronkvh commented on #78
Thanks, I just configured it with the wrong account

[2021-02-07 16:55] #78 closed

[2021-02-08 14:00] Capelier-Mathieu opened #80 "Javascript error in the main process"
**Describe the bug**
I have a JavaScript Error related to a timer (see screenshot)

**Expected behavior**
Don't know why this happen, maybe because of startup option but not 100% sure

**Screenshots**
![error page](https://user-images.githubusercontent.com/72555720/107228031-7507b500-6a1c-11eb-92f7-b6b84f883c85.png)

**Desktop:**
 - OS: Windows 10 Professionnel Insider Preview 2004 (version 21301.

[2021-02-09 03:17] Melvin-Abraham commented on #80
@Capelier-Mathieu Seems like this issue is similar to #35. This is a bug which occurs due to passing a floating-point number to the `setPosition()` function, which is calculated based on your screen size. Thus, the only way to get around it for the time-being is to clone this repo (via `git clone`) and build it yourself (see [How to build](https://github.com/Melvin-Abraham/Google-Assistant-Unoffic

[2021-02-09 05:37] AnandM8 opened #81 "Unexpected Exception Occured An unexpected error occurred. Error: Tried calling start() before the ready event!"
![google assistant error](https://user-images.githubusercontent.com/78782021/107320684-3418aa80-6ac7-11eb-85d1-ff7ddc78d296.PNG)
 when i open GOOGLE ASSISTANT CLIENT then an error occur as  : ' Unexpected Exception Occured An unexpected error occurred. Error: Tried calling start() before the ready event! '
then it automatically closes itself and open a web page and when i reopen then same error oc

[2021-02-09 06:59] Melvin-Abraham commented on #79
@ItzMarSire There have been some changes since `v1.0.0-rc.2` so the memory usage might be comparatively lower if not too low. One of the main issues which is currently fixed (but not released yet) was the constant use of microphone even when application is idle (see #30). This was in turn caused since old instances of microphone object were not reused/disposed and new instances were created instea

[2021-02-09 08:58] umbrella-k opened #82 "language"
I am Japanese.
Even if the language setting is Japanese, the display language does not change.
Does this mean it hasn't been translated?

[2021-02-09 11:10] Melvin-Abraham commented on #81
@AnandM8 This is a duplicate of issue #39.

This should help:

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970

[2021-02-09 11:10] #81 closed

[2021-02-09 11:15] Melvin-Abraham commented on #82
@umbrella-k It works without any issues for me. Can you check if you **saved the settings** after making the changes? If you did, can you check if you got any errors in the DevTools (`Ctrl/Cmd + Shift + I`)?

![image](https://user-images.githubusercontent.com/26056183/107355647-c637a780-6af5-11eb-9bf1-2051c6457088.png)

[2021-02-09 12:28] umbrella-k commented on #82
Verified.  However, the settings screen has not been translated.  Is this a specification?

[2021-02-09 12:33] Capelier-Mathieu commented on #80
Thank you very much for your answer! After cloning the repo, I tried to build it but I'm on Windows so it didn't work and I don't know if it's possible or not. I read the [How to build](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client#how-to-build) but it seems to have Linux commands only. If you know how I could do it I'll be very grateful.

[2021-02-10 15:26] Melvin-Abraham commented on #80
The commands work across all the platforms. You must have either `npm` or `yarn` installed on your machine. If you already did and got a build error instead, you might need to install **MS Visual Studio C++ Runtime** for building native modules...

To install Windows Build Tools, run the following command in Powershell as Administrator:

[code]

OR, if you are using Yarn

[code]

[2021-02-10 17:06] Melvin-Abraham commented on #82
Currently, the language setting would only affect the conversation language. Application level language support is currently not built into the application but you can contribute if you are interested :)

[2021-02-11 09:58] #80 closed

[2021-02-11 19:34] sebazmed7 opened #83 "Adding routines to search/execute feature"
Google recently released routines on the Google Home app. When asked to perform a routine the app goes to search mode rather than executing the routine.

[2021-02-11 21:59] Trak-X opened #84 "Error getting tokens"
**Describe the bug**
Cannot finish setup process as the Assistant does not fetch the tokes from Google

**To Reproduce**
Steps to reproduce the behavior:
Approve in the setup process to auto generate file and then login in the browser with the email address added under Test users
Wait 10 seconds as per the count down timer
Cry as it does not work
Repeat :)

**Expected behavior**
Should store the t

[2021-02-11 22:02] Trak-X commented on #84
A weird things .. as far as i see, is that now the Assistant does actually work, and i get results when asking for Weather for example.

![image](https://user-images.githubusercontent.com/2991291/107704188-86bfb580-6cc5-11eb-8f4d-b87471f54089.png)

![image](https://user-images.githubusercontent.com/2991291/107704152-78719980-6cc5-11eb-95cf-f26718550426.png)

[2021-02-11 22:09] Trak-X commented on #84
With every reopen of the app, i am getting asked to Get Token:

![image](https://user-images.githubusercontent.com/2991291/107704801-82e06300-6cc6-11eb-876c-247c958f96fa.png)

and if i try to run a command without doing so:

![image](https://user-images.githubusercontent.com/2991291/107704854-91c71580-6cc6-11eb-9bca-e0cffbced1ea.png)

[2021-02-11 22:58] dimnls opened #85 "Cannot open settings"
Seems like a very nicely built app, congrats!

I am following the [guide ](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop-Client) and registered fine with Google Cloud. However, when I open the Desktop client and click the settings gear on the top left, nothing happens. This is on Windows 10 20H2 and I

[2021-02-11 22:59] MANICX100 opened #86 "Followed setup yet oauth not allowed"
Error 403: restricted_client
This app is not yet configured to make OAuth requests. To do that, set up the app’s OAuth consent screen in the Google Cloud Console https://console.developers.google.com/apis/credentials/consent?project=${your_project_number}
Request Details
access_type=offline
response_type=code
redirect_uri=urn:ietf:wg:oauth:2.0:oob
client_id=727406104553-qdl7cbo1smvgf02h3orduk8vtmc

[2021-02-11 23:03] xeu100 opened #87 "[Suggestion] Create a Flatpak through Flathub"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Uploading this to Flathub would be a great way to reach as many distros as possible.

**Describe alternatives you've considered**
Snap isn't always a good choice on all distros, flatpak has much better

[2021-02-11 23:03] maj113 commented on #86
same issue here
`Error 403: restricted_client
This app is not yet configured to make OAuth requests. To do that, set up the app’s OAuth consent screen in the Google Cloud Console https://console.developers.google.com/apis/credentials/consent?project=${your_project_number}
Request Details
access_type=offline
response_type=code
redirect_uri=urn:ietf:wg:oauth:2.0:oob
client_id=190476857525-mhb5oj1j7j

[2021-02-11 23:16] xeu100 commented on #47
I'm a Fedora user, temporary workaround that works on most distros is to just switch using the settings icon that's on the login to Gnome Wayland.

[2021-02-11 23:25] JTDaddy17 opened #88 "Stuck at the "Get token!" screen. Submit Button not functioning"
I click on submit when I paste the token, but nothing happens. It doesn't show me the permissions screen. Just, nothing happens... please fix this:
![image](https://user-images.githubusercontent.com/50080776/107711943-86f48c80-6c96-11eb-94a2-9935b0467458.png)

[2021-02-12 01:08] ViniciusR commented on #88
Same here!

[2021-02-12 03:30] Melvin-Abraham commented on #88
@JTDaddy17 @ViniciusR An error screen prior to the "Get Token" screen might have popped up:

![image](https://user-images.githubusercontent.com/26056183/107726699-ada2d980-6d0f-11eb-8739-898f6e4e7add.png)

After the above screen is ignored, the submit button does not work (_Event Listeners_). Although this error is fixed in the source, it's not released yet. So, the following should help at the mo

[2021-02-12 03:33] Melvin-Abraham commented on #86
@MANICX100 @maj113 Duplicate of #78.

You seem to have skipped configuring the consent screen.
You can get help with setting up consent screen using [this link](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop-Client#configure-consent-screen).

[2021-02-12 03:58] Melvin-Abraham commented on #85
@dimnls Possible duplicate of #45. Seems like you are in the welcome screen. If you are, you will have to click through the **"Get Started"** and **"Proceed"** buttons before you can access settings.

![Welcome Screen](https://user-images.githubusercontent.com/26056183/107728586-7e429b80-6d14-11eb-98d5-f0ff63891702.png)

[2021-02-12 04:43] JTDaddy17 commented on #88
![image](https://user-images.githubusercontent.com/50080776/107731054-f7b19e00-6cc2-11eb-8e6a-2aa54598d396.png)
I did that but a new issue has shown up

[2021-02-12 04:52] JakeCover opened #89 "Add Option to Explicitly Specify Microphone"
**Is your feature request related to a problem? Please describe.**
Because of various reasons, the default microphone is not always the best choice, and so it would be useful to explicitly set the microphone for assistant to use

**Describe the solution you'd like**
A settings field to pick the microphone to use

**Describe alternatives you've considered**
This normally isn't an issue, but SteamVR

[2021-02-12 05:13] Melvin-Abraham commented on #88
@JTDaddy17 That's a rate limit issue related to Google Cloud. You can try that again the next day and it should work...

[2021-02-12 05:16] Melvin-Abraham commented on #89
@JakeCover This is a duplicate of #22. The feature has been added but not released yet. It will be released soon...

[2021-02-12 05:16] Melvin-Abraham commented on #89
_Closing as resolved._

[2021-02-12 05:16] #89 closed

[2021-02-12 05:48] Melvin-Abraham commented on #84
@Trak-X Seems like the file "tokes.json" was deleted later on causing the "Get Token!" screen to come up.

Now coming to the `Error: Tried calling start() before ready event!`, you will need to temporarily disable **Settings** > **Conversation** > **Enable microphone on application startup**.

If you get `Failed to get tokens` screen, you can try it the next day due to rate limiting.

[2021-02-12 05:53] Melvin-Abraham commented on #87
@xeu100 Sure, I am already planning to release `.deb`, `.rpm` and **flatpak** packages. You can help in creating the build scripts for any of these additional platforms if you are interested. 😊

[2021-02-12 06:15] Melvin-Abraham commented on #73
_Closing as resolved_

[2021-02-12 06:15] #73 closed

[2021-02-12 07:12] Trak-X commented on #84
@Melvin-Abraham not really, The "Get Token!" screen came up while doing the setup initially, being the first time to actually test this, so rate limit should not have been a reason. Will try again now.

As for the second one, "Enable microphone on application startup" was already disabled, so i cannot change it.

[2021-02-12 08:57] MANICX100 commented on #86
![console cloud google com_apis_credentials_consent_project=pc-assistant-2845e](https://user-images.githubusercontent.com/5303241/107747898-1f7b2300-6d10-11eb-8e6c-245caa89b736.png)

I had followed the setup here is a screenshot of my consent screen. I have added my email of the used google account as the sole test user.

I have also tried publishing nothing works.

Kind regards :)

[2021-02-12 09:16] #82 closed

[2021-02-12 10:30] QkeleQ10 opened #90 "Design doesn't completely match."
The colours and fonts are different than the colours on Android. Light theme background is a tad too dark and response text is Product Sans (bold) instead of Roboto.

Perhaps you could try using an eyedropper on the screenshot below:
![image](https://user-images.githubusercontent.com/55982900/107757270-9e2e8b00-6d25-11eb-91ef-7f182a45e1fe.png)

[2021-02-12 10:32] JediRhymeTrix opened #91 "Option to make Assistant stop listening as soon as the user starts typing in the text box."
I think the title is pretty self-descriptive.

[2021-02-12 11:03] Melvin-Abraham commented on #91
Thanks for the suggestion 👋. This would be implemented soon within the application...

[2021-02-12 11:06] JediRhymeTrix opened #92 "[Suggestion] Allow using the "escape" key to close the assistant window"

[2021-02-12 12:08] TheNexter commented on #92
Very good idea, or space bar when anything is enter
![image](https://user-images.githubusercontent.com/17613028/107766149-56166500-6d33-11eb-9e7b-0b10e4ded222.png)

[2021-02-12 12:17] TheNexter opened #93 "Arrow Up for text come back in type area, like cmd or terminal ;)"
Everything is in the title i think 😁

[2021-02-12 12:21] TheNexter opened #94 "windows shortcut, for taskbar or desktop"
I don't find how to do a shortcut, if i try to launch with the .exe it's say me that :
![image](https://user-images.githubusercontent.com/17613028/107767477-426bfe00-6d35-11eb-9ad5-b29640c15ede.png)

[2021-02-12 12:44] hexandcube opened #95 "The Product Sans font license doesn't allow use by third parties"
Product Sans "licence" on Google Fonts: https://fonts.google.com/license/productsans

My suggestion would be to use Roboto instead. Slightly related to #90.

[2021-02-12 13:37] Robot-Inventor opened #96 "Improvement of Japanese translation"
The current Japanese translation is as follows.

[code]

However, I think the following is more natural Japanese.

[code]

[2021-02-12 14:48] Melvin-Abraham commented on #96
@Robot-Inventor You are welcome to open a PR with following changes. 😊

[2021-02-12 14:52] Melvin-Abraham commented on #94
@TheNexter You can launch Assistant via any of the following:

- Open the tray icon (**Show hidden icons** in taskbar) then right-click on "Google Assistant".
- Or launch using **"Windows Key + Shift + A"** (see [Default Keyboard Shortcut](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client#default-keyboard-shortcut))

[2021-02-12 14:52] #94 closed

[2021-02-12 14:56] Melvin-Abraham commented on #93
@TheNexter Thanks for the suggestion 👋. This would be added soon...

[2021-02-12 15:02] DestroyerXyz opened #97 "AUR(Arch User Repository)"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add release builds to the [AUR](https://aur.archlinux.org)

[2021-02-12 15:29] Robot-Inventor commented on #96
Thank you. I have created a pull request!

[2021-02-12 15:51] TheNexter commented on #88
Delete folder : inside %appdata%
uninstall the app

Reinstall them
And now it's working

[2021-02-12 16:06] GeorgePr opened #99 "macOS 11.3 Beta Uncaught Exception on launch"
I installed the app on macOS Big Sur 11.3 Beta 1 (20E5172i) and I am stuck in this window. I haven't been able to view the main screen of the app. I am using the latest version (1.0.0-rc2). Thank you.

![Screen Shot 2021-02-12 at 18 02 24](https://user-images.githubusercontent.com/6285836/107791652-de5d3000-6d5c-11eb-80a8-bc6f8661d479.png)

[2021-02-12 17:07] TheNexter commented on #94
Guy, it's not for that 😥

I wan't to put on my nexus dock, yes it's windows 😅

I need a shortcut for that 😅

![image](https://user-images.githubusercontent.com/17613028/107798949-182e3680-6d5d-11eb-91eb-81e9fb9b2d50.png)

[2021-02-12 17:13] mkody commented on #94
I'd like to support that request since opening the window from the taskbar is easier than double-clicking a small icon when you use a touch screen.

So instead of throwing an error, the Assistant's window should open.

[2021-02-12 17:52] geek0big opened #102 "Add an ability to use YouTube Music (and other services) in the Google Assistant app."
Add an ability to use YouTube Music (and other services) in the Google Assistant app. It can be very helpful if the assistant going to open the web version of the music service (YT Music, Spotify, Dezeer, e.t.c.). Also, if it's possible add an ability to control music on smart speaker (Google Home, e.t.c). For example: "Play music on *name* speaker" or "Play music in the bedroom".

[2021-02-12 18:00] mdrichardson opened #103 "Feature request: Allow to be used in Speaker Group"
If this is too difficult or out of scope, feel free to close. (I think this might require something outside the Assistant SDK)

Now that I have this installed, I'd love to be able to use the PC this is installed on as a speaker in Google Home's Speaker Groups, so that I could cast Spotify to it (or other music sources).

[2021-02-12 18:50] joaopedrocg27 opened #104 "Change temperature and distance Units in settings"

[2021-02-12 19:59] JTDaddy17 commented on #88
Did that too, still no dice

[2021-02-12 20:00] JTDaddy17 commented on #88
Still bringing up the same error

[2021-02-12 23:30] fisforfaheem opened #105 "add voice activation"
make it better

[2021-02-12 23:32] fisforfaheem opened #106 "Bump the electron version from 9 to 12 it would improve speed and performance too"
please use latest version of electron to get new things its very easy

[2021-02-13 00:51] danielspeixoto opened #107 "No Mic Input on Mac Devices"
The assistant doesn't even ask for mic permissions. Probably because of that it cant hear me.

[2021-02-13 05:04] Melvin-Abraham commented on #107
@danielspeixoto In my case it did show up on the first start. The dialog might have probably been minimized. If you think you missed it, you can change the microphone settings within the **System Preferences**.

[2021-02-13 05:11] Melvin-Abraham commented on #97
@DestroyerXyz Thank you for the suggestion 👋. The next release will be added to AUR once the `.deb` package is released alongside.

[2021-02-13 05:14] Melvin-Abraham commented on #96
@Robot-Inventor Thank you for the contribution. Your PR has been merged! 😊

[2021-02-13 05:18] Melvin-Abraham commented on #96
@Robot-Inventor **"何ができる？"** translates to _"What can I do?"_ instead of _"What can you do?"_ as per Google Translate. Can you check that?

[2021-02-13 05:29] Melvin-Abraham commented on #99
@GeorgePr Duplicate of #35.

This is a bug which occurs due to passing a floating-point number to the `setPosition()` function, which is calculated based on your screen size. Thus, the only way to get around it for the time-being is to clone this repo (via `git clone`) and build it yourself (see [How to build](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client#how-to-buil

[2021-02-13 05:30] Melvin-Abraham commented on #99
_Closing as duplicate_

[2021-02-13 05:30] #99 closed

[2021-02-13 05:38] Melvin-Abraham commented on #84
@ShaneSmiskol has got a point. The issue could also happen due to access permission.

@Trak-X Can you check if you too are in the same boat. If not, I would recommend re-setting the key file path and clear the tokens and fetch again.

This issue can also come up when assistant is triggered when the saved tokens file is not found/accessible. Thus, you will have to create new tokens using "Get Token

[2021-02-13 05:40] Trak-X commented on #84
Sure. Will give it a try.

[2021-02-13 06:39] andrewf13 opened #108 ""Something went wrong. Please try again later.""
Hi any ideas on why at step 2 when go to create New Project I'm getting "Something went wrong. Please try again later." dialog and unable to continue?
![image](https://user-images.githubusercontent.com/76895042/107843834-4406f600-6e09-11eb-83d6-b0de53c81c20.png)

Request:
Would be good to know the requirements for this Actions on Google before proceeding. Thanks!

[2021-02-13 06:39] Melvin-Abraham commented on #106
@fisforfaheem Unfortunately this cannot be achieved so soon since one of the dependencies uses a native module (`grpc`) which currently does not compile for the latest version of electron runtime...

[2021-02-13 06:40] Melvin-Abraham commented on #105
@fisforfaheem This is in the roadmap ad will be added sometime soon...

[2021-02-13 06:47] Robot-Inventor commented on #96
If the subject is clear, the subject is omitted in Japanese. In this case, it's a question, so I think it's clear that the subject is "you." There is no problem with Google Translate because it is not good at translating according to the situation and it just does not interpret the subject correctly.

In addition, my family and I are Japanese, so I asked my family, and they correctly interpreted i

[2021-02-13 07:17] Melvin-Abraham commented on #96
@Robot-Inventor Thank you for the clarification. _Closing this issue as resolved..._

[2021-02-13 07:17] #96 closed

[2021-02-13 07:53] Yerokhov opened #109 "Microphone didn`t work, js bug in devtools console"
**Describe the bug**
Sound commands from the microphone do not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'lanch Google Assistante'
2. Click on 'microphone icone'
3. Open 'devtools'
4. See error

`main.js:492 Error: 14 UNAVAILABLE: Service unavailable.
    at Object.exports.createStatusError (C:\Program Files\Goo…pc\src\common.js:91)
    at ClientDuplexStream._emitStatusIfDo

[2021-02-13 08:01] #109 closed

[2021-02-13 08:02] Yerokhov commented on #109
Find in setting sound cart, that microphone are disabled/

[2021-02-13 08:37] Melvin-Abraham commented on #104
@joaopedrocg27 You can ask the assistant to do so. Simply type or say, **"Always use Celsius"** and it'll remember you preference. Similarly ask the assistant to change the distance unit as you like.

[2021-02-13 09:23] GlenIssac opened #110 "Setting authentication in the app"
Where an earth do i open the "app" im so confused. Is it in the folder or do i need to dowload anything. Kinda new to this stuff

[2021-02-13 10:40] fisforfaheem commented on #106
or atleast to version 11 if possible? becases 9 is tooo old.

On Sat, Feb 13, 2021 at 11:40 AM Melvin. L. Abraham <
notifications@github.com> wrote:

[2021-02-13 10:51] shivasiddharth opened #111 "Scope for wakeword/hotwording"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-13 10:53] csansoon opened #112 "Failed to get Tokens"
I followed all the steps to authenticate with my account. Then at the final step, when I paste the token Google gives me to the app, it just waits 10 seconds and shows an error Message:

I tried multiple times and checked if I did all the steps right and I can't find a solution.

![image](https://user-images.githubusercontent.com/57395395/107848143-7278d700-6df1-11eb-932e-d7eeaf0fb9ac.png)

[2021-02-13 10:59] csansoon commented on #84
I am having the same issue.

I tried moving the file to a non-admin folder but the issue is still there. Everytime I open the Assistant it shows me a screen to "Get token!" and opens a link in my browser to get the token for the app, although I can still use the Assistant and it answers me right.

[2021-02-13 11:03] csansoon commented on #84
Okay I solved it for me!
I think my problem was with administrative access. I changed the location of the **Key File Path** as well as the **Saved Tokens Path** to my Documents folder, so the app now has access to it! Now it's all working fine.

![image](https://user-images.githubusercontent.com/57395395/107848388-65f57e00-6df3-11eb-80c8-5cc2dcd3153c.png)

[2021-02-13 11:08] GlenIssac commented on #112
Dude how do you even open the "app"

[2021-02-13 11:09] csansoon opened #113 "Add a simple shortcut to open the assistant with one click."
**Is your feature request related to a problem? Please describe.**
When I open the assistant using the icon in my taskbar I get a **Preventing launch** error because there is an instance already running.
![image](https://user-images.githubusercontent.com/57395395/107848499-1b283600-6df4-11eb-8e79-149bd76dd0d7.png)

**Describe the solution you'd like**
 Opening the app this way should call the alea

[2021-02-13 11:12] GlenIssac commented on #113
How do you even open the app. In the folder

[2021-02-13 11:18] GlenIssac commented on #111
hi, how do you open the app. Like is it in the folder just dont know how to launch it

[2021-02-13 11:20] sirloinofbeef commented on #112
What OS are you using?
What is your saved tokens path? The program will read / write access to the path.

[2021-02-13 11:24] shivasiddharth commented on #111
@GlenIssac , It needs to be incorporated along with the main code in this project.

[2021-02-13 11:40] Melvin-Abraham commented on #112
@csansoon That is actually related to Google Cloud's daily rate limiting. You can retry this the next day and it should work...

[2021-02-13 11:42] csansoon commented on #112
Win+Shift+A in Windows

[2021-02-13 11:43] tigattack opened #114 "Homebrew Package"
**Is your feature request related to a problem? Please describe.**
I cannot script/automate the installation of this package.

**Describe the solution you'd like**
I'd love to be able to install this with [Homebrew](https://brew.sh/).
There's documentation [here](https://docs.brew.sh/Formula-Cookbook) for creating a Homebrew Formula (package definition).

**Describe alternatives you've considered*

[2021-02-13 11:43] Melvin-Abraham commented on #106
@fisforfaheem Currently I am thinking of forking the dependency and switching to a non-native module and if that hopefully works, I'll probably update the electron version...

[2021-02-13 11:55] KimJudge commented on #113
I am getting the same problem and cannot continue with installation beyond this point. HELP!

[2021-02-13 11:56] Melvin-Abraham commented on #110
@GlenIssac Assuming you installed the application using the installer _(based on your platform)_ from [Releases](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/releases) and opened it from your system's launcher, you can then open the "app" using the keyboard shortcut **"Windows Key/Super/Command + Shift + A"** (see [Default Keyboard Shortcut](https://github.com/Melvi

[2021-02-13 11:56] KimJudge commented on #113
Additionally, I would like to add that the GA was not appearing on my taskbar despite the action stating that the app was already running.

[2021-02-13 13:20] Melvin-Abraham commented on #113
@csansoon @KimJudge By default the assistant will be hidden and minimized to tray when launched. You will need to follow either steps to launch the assistant after running the application:

- Try launching the assistant with the keyboard shortcut `Super + Shift + A`
- Right-click on the Google Assistant tray icon and click on **"Launch Assistant"**

**PS:** The assistant will take some time to ini

[2021-02-13 13:33] csansoon commented on #112
Okay I solved it for me!
I think my problem was with administrative access. I changed the location of the **Key File Path** as well as the **Saved Tokens Path** to my Documents folder, so the app now has access to it! Now it's all working fine.

![image](https://user-images.githubusercontent.com/57395395/107848388-65f57e00-6df3-11eb-80c8-5cc2dcd3153c.png)

[2021-02-13 13:54] hngdtrng123 commented on #107
I think my issue is somewhat relevant, sorry if I'm posting in the wrong place.
I'm using AirPods Pro's mic but the app cannot catch my voice. If I just use my MacbookPro 15 Mid 2015's build-in mic, it works as expected.

[2021-02-13 14:19] Molto06 opened #115 "Cant click the submit button!?"
I followed all of the authentication steps and I got to the part where you have to paste the authentication code into the box and press submit. I pasted it in but I can't press submit, nothing happens!
Can you help me?

[2021-02-13 14:22] danielspeixoto commented on #107
@Melvin-Abraham There is no option on my microphone settings to give it permissions. But I was able to solve it by running "npm start" instead of running a builded version (.app).

[2021-02-13 14:23] danielspeixoto commented on #107
@hngdtrng123 Have you changed your app settings to capture audio input from your AirPods Pro? If yes, this is probably non-related to the application itself as it is only an input source.

[2021-02-13 14:27] danielspeixoto opened #116 "Minimal view"
I use this app mostly for home automation. I'd prefer to not have any kind of window at all, but only a feedback that the app is listening to me. Maybe a popup, a notification, or any other kind of stuff that won't stop me from my current work. Very alike what Cortana and Siri currently do.

[2021-02-13 14:32] KimJudge opened #117 "UI Dimension - Google Reminders"
GA was able to display the reminders but unfortunately the placement of the text was outside of the UI dimension.

I like that you can add an event to your calendar and that your agenda is displayed too when requested. (Y)

[2021-02-13 14:34] psydex opened #118 "Error: Tried calling start() before the ready event!"
So I was following closely the installation guide but it was timing out on last step of the setup (namely when you paste the authentication code and click submit). So I started from scratch and now I'm getting this error right before where I need to paste the authentication code.

![image](https://user-images.githubusercontent.com/5594251/107852407-33f71280-6e19-11eb-9fa7-9752cc04ae05.png)
Relaunc

[2021-02-13 14:34] hngdtrng123 commented on #107
@danielspeixoto I just left everything as default.
When I said:

It means that I disconnect my AirPods, and did not make any further change in settings, in order to use the built-in mic.

Please take a look at the gif, you can see the micro icon jumping as I was speaking, but nothing recorded/parsed to the question field.

![CleanShot 2021-02-13 at 21 29 54](https://user-images.githubusercontent.c

[2021-02-13 15:39] Melvin-Abraham commented on #118
@psydex This is a duplicate of issue #39.

This should help:

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970

PS: If this helps, do close the issue...

[2021-02-13 15:40] Melvin-Abraham commented on #116
@danielspeixoto This feature will be added later on after all the essential enhancements and bug fixes are addressed

[2021-02-13 15:41] Melvin-Abraham commented on #115
@Molto06 This is a duplicate of issue #39.

This should help:

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/39#issuecomment-734111970

PS: Please do close the issue if this helps

[2021-02-13 15:42] Melvin-Abraham commented on #112
@csansoon I assume the issue is resolved, so I'll close this...

[2021-02-13 15:42] #112 closed

[2021-02-13 16:39] Tintasmen opened #119 "Google assistant dont give me images from search"
**Describe the bug**
Google assistant dont give me imagens from search

**To Reproduce**
Steps to reproduce the behavior:
1. Images of Horses
2. Result:
![imagens](https://user-images.githubusercontent.com/79016728/107855407-02327b80-6e1a-11eb-9a25-5275232d85d6.JPG)

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 7 Ultimate]
 - Version [e.g. 1.0.0-rc.1]

Awesome work

[2021-02-13 16:48] #118 closed

[2021-02-13 16:48] psydex commented on #118
It worked!

[2021-02-13 17:16] gabrgomes opened #120 "Notify my reminders"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

In chrome os, the assistant windows alerts me whenever i have a reminder, opening its window showing the reminder and telling me (audio) it h

[2021-02-13 17:17] Gremio0087 opened #121 "Google Assistant for Windows"
When I instruct Google Assistant for Windows to open a specific webpage or navigate a web page browser to, say for example, Facebook - Google Assistant responds indicating that she is executing the command, but then does not and nothing happens and Google Assistant does not assist me with such basic requests such as navigating to Facebook's webpage on demand.

[2021-02-13 17:25] #115 closed

[2021-02-13 18:21] 15locraft opened #122 "French does work bad and mic access is automaticly off"
Hello,

I've just installed and g-assist does not work on mic and french with the mic does not completly worked. OS : Pop!_OS with KDE plasma desktop environment

[2021-02-13 18:54] LillyYaGirl opened #123 "JavaScript timeout error"
When I download and install the pre compiled .EXE installer for my Windows 10 desktop, and then try to open it, the following error is presented. This occurs even when running the software as administrator and after a Java update.

![javascript done messed up](https://user-images.githubusercontent.com/79021122/107858577-e8d20500-6e02-11eb-90dc-6f774e6032e0.PNG)

[2021-02-13 19:24] dimnls commented on #85
I feel very, _very_  stupid now... Thanks, it works perfectly 👌

[2021-02-13 19:24] #85 closed

[2021-02-13 20:29] thijshofkes14 commented on #123
Same!!

[2021-02-13 20:36] esau-morais commented on #108
Please give a look at the [authentication setup for the project here](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop-Client)

[2021-02-13 20:46] esau-morais commented on #92
There's actually an option on the settings called "Window Float Behavior" and you can just set "Close on blur"

[2021-02-13 20:59] esau-morais opened #124 "🐛Bug: "Close on blur" not working well when open the inspector"
**Describe the bug**

Basically, when I open the inspector and try to inspect anything or use any tools from the DevTools with the "Close on blur" option set, it doesn't work well and closes the Assistant window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Scroll down till find the Window Float Behavior option
3. Click the "Close on blur" option
4. Save the changes
5. T

[2021-02-13 21:02] SRThibaultP commented on #122
Surprising,
I don't have any problem with gassist or mic with french using W10 insider.

[2021-02-13 22:02] 93boba commented on #119
I can confirm this issue. I am facing the same problem on:

Edition	Windows 10 Pro
Version	20H2
Installed on	‎29-‎Dec-‎20
OS build	19042.804
Experience	Windows Feature Experience Pack 120.2212.551.0

The only time I get the visuals is when I ask for the weather.

This is super awesome work! Let me know if you need any more details.

[2021-02-13 22:24] leonardooleg commented on #123
Same!!

[2021-02-14 00:03] Juka117 commented on #119
This is happening due to a race condition. The phrase "here are some pictures I found" is tricking the logic into thinking it's a text based result instead of google images array. I was able to switch to the proper if condition by setting the innerText to "https://www.google.com/search?tbm=isch" manually (line 2428 of main.js). Sequence of events has to be changed to waiting for results type befor

[2021-02-14 00:13] Tintasmen commented on #119
So how i can fix this problem? Would be awesome have images on search google assistant

[2021-02-14 00:13] Juka117 commented on #41
This is happening because of race condition as well like #119 . The action response text result is overwriting the actual response result type to text and hence appearing as the entire postback has been accomplished successfully.

[2021-02-14 00:29] Juka117 commented on #119
I haven't gotten to that part yet unfortunately mainly because I'm very new to Google Assistant and how it works. If I had to reason it out, it should be somewhere close to triggering the proper flag status/type using the keyword that means images; not sure if this has to be coded at this level or if it's already evaluated at the API level though. Pretty sure someone with more knowledge will beat

[2021-02-14 01:29] willgk opened #125 "Setting Cog Wheel Does Nothing"
Using latest release, was going through the wiki to get it set up. I installed it to the default location (all users) and when I open the app, it comes up just fine, win+shift+a brings it up as well, however the Cog Wheel (upper left) does nothing at all. I am unable to configure the token for authentication. I couldn't find a log anywhere that had data to show what may be happening.

[2021-02-14 02:49] fisforfaheem commented on #106
Sounds good, thanks!  Looking forward also if possible make a 2021 release
of app soon

On Sat, Feb 13, 2021, 4:44 PM Melvin. L. Abraham <notifications@github.com>
wrote:

[2021-02-14 03:12] Trak-X commented on #84
Yes, i can report the same thing. I moved both Key File and Tokens to a new folder under Documents and that solved the issue. I am no longer being asked to login every time and everything works.

[2021-02-14 04:25] Melvin-Abraham commented on #124
@esau-morais Thank you for reporting the issue. This will be fixed very soon...

[2021-02-14 04:26] Melvin-Abraham commented on #84
_Closing as resolved_

[2021-02-14 04:26] #84 closed

[2021-02-14 05:06] srivmanu commented on #123
Please see #80

[2021-02-14 05:08] Melvin-Abraham commented on #123
Duplicate of #39 and #80.

You can learn more about this bug [here](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/35#issuecomment-726725640).

[2021-02-14 05:16] EthanMac1915 opened #126 "Final Authentication not working"
During the install process, the final step is for a tab to open up and give you a token code, this works, however when i paste and submit, nothing happens. no matter if i try closing or relaunching the assistant, the submit button does not seem to work. Im Running Windows 10 Pro, Build 21301-1645

[2021-02-14 06:18] eoliveau commented on #126
Had the same problem a few minutes ago, i started the app as admin and it worked fine after that.

[2021-02-14 06:59] Sujith0Nair commented on #125
Same +1

[2021-02-14 07:27] Sujith0Nair commented on #125
I'm not sure of why the settings option is in the disable class though. But I overwrote the code in main.js file as provided in the image and everything seems to be working fine now.
![image](https://user-images.githubusercontent.com/39736056/107871042-1d59c580-6ec4-11eb-9714-7b951a9ac1e2.png)

[2021-02-14 08:24] Melvin-Abraham commented on #125
@willgk @Sujith0Nair Duplicate of #45 and #85.

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/85#issuecomment-777952555

[2021-02-14 08:24] Melvin-Abraham commented on #125
_Closing as Duplicate_

[2021-02-14 08:24] #125 closed

[2021-02-14 08:33] thijshofkes14 commented on #123
I just could'nt get the npm build to work, kept spamming me with errors.. So i'll just have to wait for the next release then.. :/

[2021-02-14 08:33] Melvin-Abraham commented on #122
@15locraft Transcription is done by the Google Assistant SDK and it entirely depends on the microphone of the device. Make sure that the sensitivity of the mic is not low or the environment is not noisy. It could also depend on the internet connection...

[2021-02-14 09:51] Melvin-Abraham commented on #123
@thijshofkes14 If you are on Windows, you might need to install **MS Visual Studio C++ Runtime** and other build tools for building native modules that the project depends upon...

To install Windows Build Tools, run the following command in Powershell as Administrator:

[code]

OR, if you are using Yarn

[code]

Once installed, try building the application once again

[2021-02-14 10:07] Molto06 commented on #126
Try going to settings and turning the 'Enable microphone on application startup' setting off. That seemed to work for me.

[2021-02-14 10:14] Molto06 opened #127 "Failed to get tokens"
Hello
I followed the authentication process and pasted the code into the box. It then loaded for 10 seconds and displayed the message below

**Failed to get Tokens
Assistant failed to fetch the tokens from the server. Either the auth code is invalid or the rate limit might have exceeded.
Try selecting a different Google Account.**

I have tried waiting until the next day like you have said but it

[2021-02-14 11:37] ev-dev opened #128 "Fails to open on macOS"
**Describe the bug**
App fails to load UI when launching via `npm start`, running from dist build, or trying to open via downloaded/installed release build. Also unable to open dev tools in Electron to inspect runtime errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Open .app or run `npm start`
2. No window being launched from the process

**Expected behavior**
A visible UI window sho

[2021-02-14 11:54] esau-morais commented on #124
If there's any help needed, I can give it try

[2021-02-14 12:00] thijshofkes14 commented on #123
Got it working. Thank you very much! Nice application.

[2021-02-14 12:02] esau-morais commented on #127
Duplicated issue. See #88

[2021-02-14 13:09] davman808 opened #129 "Very difficult to set up"
i think it is amazing that a small group of individuals can adjust an entire ai designed for phones by an enormous company to work on a pc/mac, but JEEBUS CHRIST it is difficult to set up. i sat on my ass for legit half an hour just to get this thing to work. if it's not possible to make easier, then oh well better than nothing. with that said though, keep going, you're doing an amazing job!

[2021-02-14 13:25] dewster commented on #85
I not see “Get Started” button and wheel nőt working 🙄

[2021-02-14 13:40] Bertikus opened #130 "Can't open settings"
If i click on the setting icon, i don't come to the settings.

[2021-02-14 13:42] #130 closed

[2021-02-14 13:47] nimagp opened #131 "In Windows 7 some web results are not displayed"
In Windows 7 some web results, incomplete are displayed or are not displayed at all and only audio output is available
![CD87](https://user-images.githubusercontent.com/71447191/107878507-6d4a8380-6ee8-11eb-8774-d626f884f7e8.png)

[2021-02-14 13:53] nimagp commented on #131
This is another example:
![9C2D](https://user-images.githubusercontent.com/71447191/107878602-1db88780-6ee9-11eb-9b04-2aab24419782.png)

Thank you. your software is great

[2021-02-14 14:02] rbrouwer commented on #88
I believe these might be an issue if writing to the "Saved Tokens Path" requires admin rights. In that case it might actually help to run it as admin once to get past this!

[2021-02-14 14:11] nimagp commented on #131
I'm sorry
I forgot to say the exact specifications of my OS:

![image](https://user-images.githubusercontent.com/71447191/107879040-bd771500-6eeb-11eb-8fba-9f2bfcc646b6.png)

[2021-02-14 14:11] Molto06 commented on #127
I have already tried waiting until the next day and uninstalling and reinstalling the app. It still brings up this message though.

[2021-02-14 14:35] #28 closed

[2021-02-14 14:59] Melvin-Abraham commented on #127
@Molto06 Can you try authenticating with another Google Account?
**PS:** You will have to add that particular Google account under "Test Users".

[2021-02-14 15:04] Melvin-Abraham commented on #131
@nimagp This is a duplicate of #41.

[2021-02-14 15:32] OscarPalafox opened #133 "Windows says Google Assitant is using the mic even when closed to tray"
**Describe the bug**
When the app is closed to tray, Windows considers the mic is still in use by the app. Since I am using Bluetooth headphones, this makes the app unusable (different playback devices are used when only sound is sent to the Bluetooth device or when the mic of the Bluetooth headphones are used) as I am unable to use the "good" sound device and I am stuck with using the poorer soun

[2021-02-14 15:48] xeu100 commented on #47
#101

[2021-02-14 15:48] xeu100 commented on #46
#101

[2021-02-14 15:51] Melvin-Abraham commented on #133
@OscarPalafox When you launch the app, it checks to see if the microphone is accessible on start itself by turning on the microphone. That is the reason you see the microphone as active even though you are just launching the app.

Duplicate of #30. This issue has already been reported and has been fixed within the source. For bug details, refer https://github.com/Melvin-Abraham/Google-Assistant-Un

[2021-02-14 15:55] Tintasmen commented on #119
No problem someday you will fix it ! :)

[2021-02-14 15:58] OscarPalafox commented on #133
Thanks for the quick reply! I didn't think of checking the closed issues. I'll use the setting to avoid it closing to the tray in the meantime. @Melvin-Abraham, do you know if it's possible to implement the feature on choosing the output device and outputting sound to that while the app is open ? I could open a separate issue to make things easier.

[2021-02-14 15:59] Melvin-Abraham commented on #133
This feature has been implemented as per the issue #22.

[2021-02-14 17:05] #104 closed

[2021-02-14 18:56] Juka117 opened #134 "FAQ in Wiki"
Is is possible to have an FAQs in the Wiki tab so that people could revert to it when in difficulty? This will reduce the number of duplicate issues and issues related to inability to finish the initial wizard (especially).

It would be great if we could contribute to it too!

Keep up the great work guys!

[2021-02-14 19:37] LeonSZGitHub opened #135 "Alarm and Stopwatch not working in Ubuntu 20.04"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-15 02:26] 7HE-W0R1D opened #136 "Failed to Get Tokens -- App not going through system proxy"
**Describe the bug**
After pasted the token and waited for 10s, the app shows failed to get token.

**To Reproduce**
Steps to reproduce the behavior:

1. launch the app
2. grant it access to my google account
3. paste the token
4. wait 10s
5. error appears

**Expected behavior**
A clear and concise description of what you expected to happen.
Successfully get the token

**Screenshots**
If applicabl

[2021-02-15 03:16] Psykozis commented on #92
maybe minimize when we click out of the form too

[2021-02-15 03:19] Psykozis commented on #33
Good! very important idea!

[2021-02-15 04:57] ev-dev commented on #128
^ This appears to have been a conflict with Electron and a third-party virtual camera/mic app I had installed which had some outdated/unsupported install/loading method related to newer policies for kexts in mac.

The conflict likely would have broken other Electron apps which tried to request the system's media I/O devices and so it seems as if my issue had no relation to this project, closing...

[2021-02-15 04:57] #128 closed

[2021-02-15 05:00] levyitay commented on #128
@ev-dev how did you fix it or found which mic / camera third party app was it?

[2021-02-15 05:53] ev-dev commented on #128
TBH I was less systematic about it than I should've been but my first searches citing similar Electron log messages (posted above) all seemed to involve some problems with virtual cam/mic drivers [like this issue involving an OBS project](https://github.com/johnboiles/obs-mac-virtualcam/issues/206).

I had several of these apps (including [Iriun](https://iriun.com) & [Camtwist](http://camtwiststud

[2021-02-15 07:30] levyitay commented on #128
Thanks, I'll do some more digging

On Sun, Feb 14, 2021 at 9:53 PM Evan Reed <notifications@github.com> wrote:

[2021-02-15 10:27] Melvin-Abraham commented on #85
@dewster Can you open a new issue with description and screenshot(s)?

[2021-02-15 10:30] Melvin-Abraham commented on #136
@7HE-W0R1D That could be either due to rate limit or permission issue or both.

Make sure the **"Saved Tokens File"** does not point to a location which requires admin rights to access _(like "C:\\" directory on Windows)_. Since if that is the case, you won't get the tokens saved due to permission issues, exhausting rate limit for the day as well.

[2021-02-15 10:31] Melvin-Abraham commented on #136
Duplicate of #88 and #127.
_Closing as duplicate_

[2021-02-15 10:32] 7HE-W0R1D commented on #136
oh yeah I forgot to mention that I saw the three previous comments and I put my token in D:\ and if I disable the tap device the error appears if I enable the tap then the app works

[2021-02-15 10:38] 7HE-W0R1D commented on #136
I'm pretty sure that I'm in a different senario that the three previous issues. Not necessarily a duplicate.

[2021-02-15 11:00] garfieldbanks opened #137 "implement sound search / identify song from speakers (or mic)"
https://www.techradar.com/news/google-assistant-can-now-identify-songs-you-hum

I'd like to able to ask the assistant to identify songs playing either from the speakers or the microphone.

Is this within the scope of this project?

[2021-02-15 11:34] Melvin-Abraham commented on #136
@7HE-W0R1D Aside from getting tokens, does the assistant work without setting up proxy?

[2021-02-15 11:39] Melvin-Abraham commented on #137
@garfieldbanks Unfortunately, I don't think there is any way to implement hum to search feature as there is no public API available for that. If you have any ideas or workarounds around this, feel free to share...

[2021-02-15 11:40] Melvin-Abraham commented on #134
@Juka117 That seems to be a great suggestion... 👍

[2021-02-15 11:43] garfieldbanks commented on #137
Hmmm... could try AcoustID I suppose.

https://acoustid.org/

[2021-02-15 11:57] 7HE-W0R1D commented on #136
@Melvin-Abraham nope it says “you are offline”

[2021-02-15 12:59] #124 closed

[2021-02-15 13:19] Melvin-Abraham commented on #136
Seems like this issue is mostly due to internet restrictions. App level proxy should help in this case. Maybe you can rename this issue accordingly.

I am reopening this issue as this has a potential to be an enhancement

[2021-02-15 13:24] Melvin-Abraham commented on #111
@shivasiddharth Thank you for the suggestion but I think **WebKit's SpeechRecognition API** would do the job and wouldn't require any external dependency...

[2021-02-15 13:35] Melvin-Abraham commented on #103
@mdrichardson That would be great. Although I am not sure how to get that working. For me it does show up in my Google Home dashboard but when proceeding to creating a speaker group, I don't see it there. If you have any idea about getting this to work please do share it here :)

[2021-02-15 14:56] AVHaCkErr opened #138 "Unable to change hotkey (Alt. Req to add changeable hotkey)"
No option in settings to change the hotkey, I have browsed through the in-app settings and was not able to find said option, help would be appreciated. Thanks a lot.

I am not sure as to if that is a feature or not. but what I could make from

It seemed as if it's a pre-existing feature.

[](https://www.youtube.com/watch?v=Z-kBrUujoP8)

(https://www.youtube.com/watch?v=Z-kBrUujoP8)

[2021-02-15 14:58] KimJudge commented on #113
Thanks Melvin, I've managed to sort it out and have been enjoying the GA so far. I would like to share some further feedback with you, if you are accepting any at this time.

[2021-02-15 15:19] anthonybaldwin commented on #88
Yep. That's it...and why only _some_ people had luck re-installing.

**Solution:** Run as admin, or don't place the config in a location that requires administrative access to use this.

[2021-02-15 15:26] rbrouwer commented on #138
If you build from source, you will have it. It is not present yet in the latest release build.

[2021-02-15 15:28] Melvin-Abraham commented on #113
Implemented in PR #101.
_Closing this issue as resolved_

[2021-02-15 15:28] #113 closed

[2021-02-15 16:52] Melvin-Abraham commented on #86
@MANICX100 Make sure you are using the same Google account to authenticate whose Gmail address was specified under **"Test Users"**.

[2021-02-15 16:54] MANICX100 commented on #86
I am :)

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&utm_medium=Email%20Signature&utm_content=General%20Email%20Group>*

On Mon, 15 Feb 2021 at 16:52, Melvin. L. Abraham <notifications@github.com>
wrote:

[2021-02-15 17:13] Melvin-Abraham commented on #134
The FAQ wiki is now available in https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ).

[2021-02-15 17:13] #134 closed

[2021-02-15 17:54] #123 closed

[2021-02-15 20:50] mdrichardson commented on #103
@Melvin-Abraham Oh weird, mine doesn't even show up on the dashboard. I believe that to add it to a speaker group, it needs Cast/Chromecast functionality. I haven't looked at any of the Google SDKs, so I'm afraid I can't be much help there. If I get some free time, I might look into it a little more.

[2021-02-15 21:16] Juka117 commented on #103
@Melvin-Abraham what does it show up as please? I believe this is one of the reasons why people love this desktop version (to hook up pc speakers to multi-room audio) but I'm as stuck/lost as both of you if not more. Any pointers would enable me to help you investigate this further (although source tree is not allowing me to make pull requests :( ). Thanks

[2021-02-16 00:12] AVHaCkErr commented on #138
Thanks. Resolved.

[2021-02-16 00:12] #138 closed

[2021-02-16 04:36] donno2048 opened #141 "Chained responses"
**Describe the bug**

Sometimes Google assistant would respond with chained responses but the client would show only the first result.

**To Reproduce**

If you type:

Everything works fine because there is only one response, but if you try:

The only output is: "Here's a result from the web" with no additional information because chained responses won't pass.

**Expected behavior**

Obviously, we

[2021-02-16 09:21] rbrouwer commented on #141
I think this is a duplicate of #41

[2021-02-16 09:25] MickLesk opened #142 "Change Language -> Update UI to Destination-Language / HotKey for Voice-Assistant"
Hey Guy!

I think your Google Assistant for Windows is mega! I've been looking for something like this for a long time to operate my smarthome while working and without using my phone. (Except with my Nest devices). The app is really very nice!

1st feature:
A wish would be but from me, if you set the language (in my case "German"), that the rest of the UI of the app also "translates".
(I can also

[2021-02-16 09:41] donno2048 commented on #141
Oops...

[2021-02-16 09:41] #141 closed

[2021-02-16 09:56] Melvin-Abraham commented on #142
@MickLesk

This will be worked upon sometime soon, once all the essential features and bug fixes are addressed ;)

The language seems to change just fine without requiring a reload. Can you elaborate on "language does not change correctly"?

This feature is already baked in. You can enable **Settings** > **Conversation** > **Enable microphone on application startup**, so that whenever you launch t

[2021-02-16 10:20] Juka117 commented on #129
@davman808 kindly close the issue if you are happy with the progress. I think we are in the middle of something epic so being a bit difficult to set up initially is more than reasonable. Let's reduce the issues and focus on introducing new features ;) If it makes you feel better, everyone spent at least 30 minutes setting it up :)

[2021-02-16 10:26] Juka117 commented on #135
What is this @LeonSZGitHub ? Those are not clear and precise instructions to reproduce the problem. Kindly add screenshots or close.

[2021-02-16 10:30] #129 closed

[2021-02-16 10:30] davman808 commented on #129
Alright then

[2021-02-16 12:55] Melvin-Abraham commented on #103
@mdrichardson @Juka117 Unfortunately, I don't really remember how I even got it on my Google Home Dashboard. I'll investigate it in the meantime though. Also, if there are any more concrete implementation ideas, do share that here... 😊

[2021-02-16 13:19] MickLesk commented on #142
@Melvin-Abraham

it's not quite like that. I have now changed from "German" to "English (usa)", and the display for example "how will the weather today" is still "German", the "voice output" is also "German" but the values -> instead of 5°C are 36°F (linguistic but not written) output.

This all works only after restart or relaunch.

 And how do I configure the hotkey? I like to use the function k

[2021-02-16 13:54] Juka117 commented on #103
In these posts, ppl have tried to reverse engineer the Chromecast protocols and mechanisms with minimal to no success. I don't think that reverse engineering is legal to share publicly but I am attaching them for indication purposes. Also, I have read elsewhere that if you ask Google to give you access to the code for sandboxing purposes they will not refuse. That's all I am aware of so far.

http

[2021-02-16 14:18] eqbirvin commented on #142
I was going to start a new ticket to ask about this but I really don't want to inidate you, mate. we all really appreciate the work you have done!

[2021-02-16 15:45] MickLesk commented on #142
i found the following in the description, but i would like to have my own hotkey configured. :-) But maybe it helps you for now.

**Default Keyboard Shortcut**
Windows: Win + Shift + A
MacOS: Cmd + Shift + A
Linux: Super + Shift + A

[2021-02-16 16:20] MazenDevelopere opened #143 "Google auth key error"
When it says Get Token! It opens the browser, then presents this error.
![Screenshot (64)](https://user-images.githubusercontent.com/48427322/108090600-77ed5000-7083-11eb-9aad-d5947b9fa7b1.png)
I did all steps, added myself as a test user, changed it to internal, published the API, nothing!!

[2021-02-16 16:47] #143 closed

[2021-02-16 16:48] MazenDevelopere commented on #143
I found out now, I didn't link the project to the google assistant actions tab. I made a new project without it

[2021-02-16 17:36] Bougakov opened #144 "Crashes on macOS Big Sur"
A version downloaded from 'Releases' (a .dmg file) crashes on start.

The error is:

[code]

**Desktop (please complete the following information):**
  System Version:	macOS 11.2.1 (20D74)
  Kernel Version:	Darwin 20.3.0

[2021-02-17 00:26] nullhart commented on #144
I had the same issue. Updating GRPC from "grpc": "1.24.4" (which is deprecaited) to "@grpc/grpc-js": "^1.2.7" fixed the issue for me.

[2021-02-17 00:46] esau-morais commented on #142
@MickLesk, to set your own shortcut, you just need to open the settings and scroll down till find an option called "Assistant Hotkey" and it'll listen to your keyboard

[2021-02-17 01:00] esau-morais commented on #120
If you try to schedule a reminder, e.g.: "Create a reminder for tomorrow", you'll see on your phone that it will be synced

[2021-02-17 04:21] Melvin-Abraham commented on #144
@Bougakov Duplicate of #35.

This is a bug which occurs due to passing a floating-point number to the `setPosition()` function, which is calculated based on your screen size. Thus, the only way to get around it for the time-being is to clone this repo (via `git clone`) and build it yourself (see [How to build](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client#how-to-buil

[2021-02-17 04:24] Melvin-Abraham commented on #144
@nullhart It doesn't seem like it has anything to do with `grpc`. This is an issue related to electron's `setPosition()` function.

[2021-02-17 04:25] Melvin-Abraham commented on #144
_Closing as duplicate_

[2021-02-17 04:25] #144 closed

[2021-02-17 04:29] Melvin-Abraham commented on #142
@MickLesk

This setting does not apply language changes to queries that have already been asked but affects the subsequent ones.

This feature has already been implemented in the source just not available yet. Till then you can clone this repo and build this project on your own if you want to test...

[2021-02-17 07:38] Melvin-Abraham commented on #121
@Gremio0087 This is a duplicate of #41.

[2021-02-17 07:39] #121 closed

[2021-02-17 07:39] Melvin-Abraham commented on #133
_Closing as resolved_

[2021-02-17 07:39] #133 closed

[2021-02-17 07:40] Melvin-Abraham commented on #122
_Closing as stale_

[2021-02-17 07:40] #122 closed

[2021-02-17 08:31] #93 closed

[2021-02-17 08:43] Juka117 commented on #126
is this still occurring for you @EthanMac1915 please?

[2021-02-17 10:03] #142 closed

[2021-02-17 10:29] Duneyr87 opened #146 "Make an ARM or a 32Bit Version"
Make a ARM or a 32Bit Version for Surface Pro X.

[2021-02-17 11:25] EthanMac1915 commented on #126
This has been fixed thanks!! Following @Molto06's instructions and then restarting the app and it worked fine!

[2021-02-17 11:25] #126 closed

[2021-02-17 13:16] nimagp commented on #146
This program is 32-bit and if you are using Windows, you can download [this file](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/releases/download/v1.0.0-rc.2/Google_Assistant-Setup-1.0.0-rc.2.exe)

[2021-02-17 13:32] nimagp commented on #131
Sorry, I have never registered an issue. Do you know this problem is related to specific OS conditions or to the application?

[2021-02-17 14:23] Molto06 commented on #127
Thanks so much for your help so far! Where could I save a file in a place that doesn't have admin rights?

[2021-02-17 14:50] H0nzik1 opened #147 "Change shortcut Win + SHIFT + A to something else"
Please, add feature for different keyboard shortcut, thank you!

[2021-02-17 16:48] esau-morais commented on #147
@H0nzik1, to set your own shortcut, you just need to open the settings and scroll down till find an option called "Assistant Hotkey" and it'll listen to your keyboard

Note: Of course, it'll not work just typing the F5, once almost every single computer has this hotkey already "busy", so try Alt + F5 or another alternative

[2021-02-17 16:49] esau-morais commented on #147
Duplicated of #142

[2021-02-17 17:11] Juka117 commented on #146
@Duneyr87 kindly close issue if resolved.

[2021-02-17 17:15] Juka117 commented on #102
this is part related to #103

[2021-02-17 17:23] Juka117 commented on #131
don't worry @nimagp. You did good. I believe this issue is related to the current desktop application because it does not exist on Chromecast enabled devices. I have been able to circumvent it by changing the flow of sequence of events as you can see in issue #119

[2021-02-17 17:47] Melvin-Abraham commented on #127
@Molto06 You can save these files in other drives like "D:", "E:" or other drives if you are on Windows

[2021-02-17 17:54] H0nzik1 commented on #147
I dont have option called "Assistant Hotkey". I have installed Google_Assistant-Setup-1.0.0-rc.2.exe which is lates I found on github and options I see in settings are following:
Key File Path
Saved Tokens Path
Language
Force New Conversation
Enable Audio Output
Enable microphone on Continous Conversation
Enable microphone on application startup
Start as Maximized
Enable Auto Scaling
Windows Float

[2021-02-17 18:58] esau-morais commented on #137
I think Google Assistant can identify songs if you ask, e.g.: "What's this song?"

On your phone, touch and hold the Home button or say "Hey Google." Ask "What's this song?" Play a song or hum, whistle, or sing the melody of a song. Hum, whistle, or sing: Google Assistant will identify potential matches for the song.

[2021-02-17 21:55] Juka117 commented on #147
@H0nzik1 kindly close issue and wait for next release to find the feature in the settings like @esau-morais mentioned.

[2021-02-17 22:04] Juka117 commented on #137
@esau-morais @garfieldbanks tested and confirmed. This works as intended and I admit I did not know about the feature :) Great stuff, this issue can be closed! Well done.

[2021-02-18 12:18] ludvigng opened #148 "High idle CPU usage"
After closing the app to tray (just pressing X on the assistant window), looking at the cpu usage, the app seems to pretty high, while also keeping pulseaudio running. This almost halves my battery life, which is unfortunate.

**To Reproduce**
Just starting the app to tray and checking top or htop will show the usage. It'll peak higher around start and then settle around these numbers after a minu

[2021-02-18 13:05] Melvin-Abraham commented on #148
@ludvigng This issue is indeed linked to #79.

[2021-02-18 13:19] ludvigng commented on #148
Glad to hear it, thanks for the quick reply! I'll close this then. :)

[2021-02-18 13:19] #148 closed

[2021-02-18 15:36] pawan0000 opened #149 "assistant cant listen any thing , just start and mic icon close ."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-18 16:39] Juka117 commented on #149
very vague, barely understandable. kindly rephrase or close.

[2021-02-18 17:04] Molto06 commented on #127
Thanks for your help. I have encountered a whole load of other problems now and I guess that is because of the security system our device uses. I am just not going to bother with this anymore but I do think this is a great piece of software and I wish I was one of the people that could get it to work.

[2021-02-18 17:04] #127 closed

[2021-02-18 17:54] esau-morais commented on #149
Agree

[2021-02-18 18:03] Juka117 commented on #127
@Molto06 it's a pity to hear this. if you want I can assist you in every step using this thread. don't worry about the amount of steps you are stuck in, let's flatten them together one by one

[2021-02-18 19:56] yossijo opened #150 "javascript error on launch"
**Describe the bug**
when launching app a javascript error pops up & the app freezes
possibly related to windows insider version

**To Reproduce**
Steps to reproduce the behavior:
1. install latest windows insider preview (maybe)
2. launch unofficial assistant app
3. See error

**Expected behavior**
should work

**Screenshots**
![Screenshot 2021-02-18 145435](https://user-images.githubusercontent.

[2021-02-18 20:02] esau-morais commented on #150
Duplicate of #80

[2021-02-18 20:11] yossijo commented on #150
resolved when changing my text size to 100    was on 125

[2021-02-18 20:18] yossijo commented on #150
happens when the Make Text Bigger is at 157 + approx

[2021-02-18 20:23] yossijo commented on #80
https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/150#issuecomment-781609739

[2021-02-18 21:02] Molto06 commented on #127
Thank you for offering but don't worry! I might try it all again in a few months after the app has been updated again 🙂

[2021-02-19 04:25] saadasoccer opened #151 "syntax error"
i'm obviously very new at this.
Downloaded unzipped and tried to run the app.

Script:

Line: 1
Char:1
Error syntax error
Code 8A03EA
Source: Microsoft Jscript compilation error

[2021-02-19 05:26] Melvin-Abraham commented on #151
@saadasoccer You are running Nodejs code on Microsoft Jscript. You must instead download node and run the script via `npm start`.

_Closing this issue_

[2021-02-19 05:26] #151 closed

[2021-02-19 05:41] Melvin-Abraham commented on #150
@yossijo Unfortunately it depends on the screen resolution. It calculates half of the resolution (+ or - some offset) and if the calculated value is a decimal, that causes an error. This has been fixed in the source but just not released yet. To test if the issue is fixed, you can clone the repo and build it yourself (check the readme for commands to run/build).

[2021-02-19 05:42] Melvin-Abraham commented on #150
_Closing as duplicate_

[2021-02-19 05:42] #150 closed

[2021-02-19 09:38] QkeleQ10 commented on #90
@Melvin-Abraham Can I help you with anything regarding the design? xP

[2021-02-19 09:40] QkeleQ10 commented on #95
@Melvin-Abraham This might help: https://fonts.google.com/specimen/Roboto

[2021-02-19 11:28] hotwin opened #153 "Fehler meldung beim starten"
Ich habe Problem nach dem starten
https://gyazo.com/7f835fffbf864d8033e20f8c2ba51cf2

[2021-02-19 11:56] esau-morais commented on #153
Duplicate of #80

[2021-02-19 12:33] MANICX100 commented on #86
@Melvin-Abraham @maj113
finally fixed this - the important step is to after selecting device type e/g/ light don't skip capabilities, press save leaving the list empty, pressing skip doesn't setup oauth.

[2021-02-19 12:33] #86 closed

[2021-02-19 13:59] Melvin-Abraham commented on #90
@QkeleQ10 The design of assistant is not derived from the Android version. The current design language (colors, fonts, etc.) are specifically selected to work with different _desktops_.

Thank you for asking :) but I am currently not sure if we should change the design elements considering it works nicely on desktop.

[2021-02-19 14:01] Melvin-Abraham commented on #153
_Closing this issue as already resolved_

[2021-02-19 14:01] #153 closed

[2021-02-19 14:36] saadasoccer commented on #151
Thank you

On Thu, Feb 18, 2021, 21:26 Melvin. L. Abraham <notifications@github.com>
wrote:

[2021-02-19 14:48] davidroth-br opened #154 "Error: Getting metadata from plugin failed with error: invalid_grant"
Started getting this error after some driver updates:

C:\Users\David\AppData\Local\Programs\Google Assistant\resources\app.asar\node_modules\grpc\src\common.js:62 Auth error:Error: invalid_grant
log @ C:\Users\David\AppData\Local\Programs\Google Assistant\resources\app.asar\node_modules\grpc\src\common.js:62
main.js:492 Error: 14 UNAVAILABLE: Getting metadata from plugin failed with error: invali

[2021-02-19 15:26] Melvin-Abraham commented on #154
@davidroth-br Duplicate of #58.

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

[2021-02-19 15:26] #154 closed

[2021-02-19 15:36] StevenJonSmith commented on #88
Moved my auth and token files from the C drive program install location to my %appdata% folder and all is now working well without having to run as admin. Thank you!

[2021-02-19 15:54] davidroth-br commented on #154
Access Forbidden
Project ugassistant-ba1a5 is shut down and scheduled to be deleted. A project owner can cancel the shutdown on the projects list page.

Got this when trying to "Configure Consent Screen"

[2021-02-19 15:56] davidroth-br commented on #154
![Screenshot (1)](https://user-images.githubusercontent.com/61717416/108528131-13a7d780-72a1-11eb-843c-1cb3e663e991.png)

[2021-02-19 15:56] davidroth-br commented on #154
![Screenshot (2)](https://user-images.githubusercontent.com/61717416/108528206-29b59800-72a1-11eb-82f4-4da114e9183e.png)

[2021-02-19 18:44] LuanRoger opened #155 "'No Suggestions' text is not translated"
The phrase 'No Suggestions' was not translated into the language I am using (Portuguese - Brazil) and I think it was not translated into other languages either.

![NoSuggestions](https://user-images.githubusercontent.com/46284513/108546933-985a1c00-72c8-11eb-9a16-261b4635a117.png)

To reproduce, just do random searches. 😄

 - OS: Windows 10 20H2
 - Version: 1.0.0-rc.2

[2021-02-19 22:08] DGTBHItzDG opened #156 ""You are Offline!" Error: Getting metadata from plugin failed with error: invalid_grant - I got this after a few days of using the assistant normally"
**Describe the bug**
Not able to use the program, the program itself seems functional but after a few days of using the Assistant I get an error saying "You are Offline!" and an error "invalid_grant"

**To Reproduce**
Steps to reproduce the behavior:
1. Install the program
2. Use it normally for a few days
3. Few days later try to use it
4. See error

**Expected behavior**
A clear and concise desc

[2021-02-20 01:11] kbdharun commented on #156
I got the Same Error too A Long time ago, The fix to this is simple just delete the **OAuth 2.0 credentials** and **Key File Path**
And Repeat the Process From Actions Console and Cloud Platform. Then it just works. My best guess is that Google Might be Restricting it by Making the Files to Expire. I think @Melvin-Abraham must look into this issue as the "invalid_grant error" is becoming pretty co

[2021-02-20 01:15] kbdharun commented on #156
Duplicate of #58

You can refer to the following comment to fix this issue: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

_Originally posted by @Melvin-Abraham in https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/71#issuecomment-765146512_

[2021-02-20 01:52] kbdharun commented on #155
I think this might be a bug in the Client, When I search for something using the client, I too get  **No suggestions** as Marked in your Issue, I hope @Melvin-Abraham Could Fix this No suggestions through an Update to the Client.

[2021-02-20 05:46] #156 closed

[2021-02-20 14:49] jaydengamble6 opened #158 "Big Sur can't shutdown with Google Assistant open."
**Describe the bug**
When I go to shutdown or restart my MacBook it just wont shut down until I quit Google Assistant.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to shutdown.
2. See that it wont shut down.

**Expected behavior**
To shutdown and Google Assistant quits.

**Desktop (please complete the following information):**
 - OS: [macOS Big Sur 11.3 Beta]
 - Version [1.0.0-rc.

[2021-02-20 15:44] Melvin-Abraham commented on #158
@jaydengamble6 Thank you for reporting this issue 👋. This will be fixed soon...

[2021-02-20 15:57] elokea opened #159 "No Mic Input, nor output via text input"
Hi !

I tried to use GAssistant (v1.0 rc2), but the mic button just does nothing but the ping sound. And when I use the textbox, there is no output.
![%pn_20-02-21_16-52-49](https://user-images.githubusercontent.com/55319385/108601348-6d40fc80-739c-11eb-9d01-f513998f9c4f.gif)

I verified everything, app settings, confidentiality settings on W10, default mic, but everything is fine.
![Google_Assist

[2021-02-20 18:18] QkeleQ10 commented on #90
@Melvin-Abraham :

I personally find myself having issues reading the text comfortably in low-light levels, on both my desktop and laptop 😬

But I totally understand you'd like to keep the design like it is right now.

[2021-02-20 21:02] psydex opened #160 "Could not connect to internet! Error: invalid_grant"
**Describe the bug**
Assistant could not connect to the internet

**To Reproduce**
Steps to reproduce the behavior:
1. launch client
2. press on the mic icon
3. Error: Getting metadata from plugin failed with error: invalid_grant

**Screenshots**
![image](https://user-images.githubusercontent.com/5594251/108608445-9929a580-73cf-11eb-8556-4bbd1efdbb24.png)

**Desktop (please complete the following

[2021-02-21 03:00] Viioarr opened #161 ""Setting Alarm""
Seems like whenever i ask it to set an alarm/timer via voice it gets stuck on "setting alarm..."

Does not seem to happen for text input

[2021-02-21 08:41] anuragdandge commented on #160
I'm also getting this same error

[2021-02-21 10:20] Melvin-Abraham commented on #160
Duplicate of #58. You can refer to the following comment to fix this issue: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

**PS:** This issue has already been addressed within the source as per ebc91ef just not released yet.

[2021-02-21 10:20] Melvin-Abraham commented on #160
_Closing as duplicate_

[2021-02-21 10:20] #160 closed

[2021-02-21 10:27] Melvin-Abraham commented on #156
@kbdharun You do not need to delete the OAuth 2.0 credentials. Just delete the Tokens file (as specified by **Saved Tokens Path**) and in the next launch, you will be presented with "Get Token!" screen. After pasting and submitting the authorization code, you are good to go.

[2021-02-21 10:36] nimagp commented on #131
Thank you. Can you register this solution as a pull request?

[2021-02-21 10:40] Melvin-Abraham commented on #90
@QkeleQ10 Are you using light theme?

[2021-02-21 10:41] QkeleQ10 commented on #90
I'm using both themes, but the light theme seems the most off and hard to see sometimes.

[2021-02-21 10:55] Melvin-Abraham commented on #90
@QkeleQ10 Your concern seems to be reasonable. In light theme, the text could be a bit less legible, the reason being usage of `invert` filter. This would affect any fonts and is not specific to a particular one. However, this would be worked upon once all the necessary enhancements and bug fixes are addressed.

[2021-02-21 13:18] kbdharun commented on #156
Thanks for the Info , I will edit my original comment with the new change mentioned by you.

[2021-02-21 14:57] dan0O0 opened #162 "You are offline - invalid_grant"
![2021-02-21 15_54_36-Google Assistant Unofficial Client](https://user-images.githubusercontent.com/43136638/108628853-4b5b7e80-745d-11eb-87ac-849fd3df45ab.png)

this is the issue i get. I have not changed anything. the assistant was working 2 days before but now it does not think im online.
how can i fix this?

[2021-02-21 15:14] Melvin-Abraham commented on #162
@dan0O0 Duplicate of #58. You can refer to the following comment to fix this issue: https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

**PS:** This issue has already been addressed within the source as per ebc91ef just not released yet.

[2021-02-21 15:14] #162 closed

[2021-02-21 16:03] BothSamuel commented on #147
While waiting for deployment an option is to use the Microsoft Power Toys keyboard manager to assign a custom shortcut.
![image](https://user-images.githubusercontent.com/47579807/108630706-c7d56980-742b-11eb-90f8-c00e129a9c90.png)

[2021-02-21 18:26] Aryan123-de opened #163 "does not open the browser for the verification"
after installing it and doing google cloud stufs .At the pointing of pasting the code it  not opening the browser.MY VERFICATION IS INCOMPLETE

[2021-02-21 18:28] LinqLover commented on #155
Same issue here. Settings page is not translated either. I even restarted the assistant ...

[2021-02-21 18:45] LuanRoger commented on #161
Here is the same problem, but I tried only with the voice, I don't know what it can be, since it seems to create the alarm normally by the input. Does it create an alarm on the system clock on which it is running or does it create an alarm on the smartphone that has the same account you are using in the G Assistant Desktop?

[2021-02-21 19:04] dacot9 opened #164 "Google assistant windows failed to initiate after processing."
everything went well just when i was processing microphone it shutdown.

[2021-02-21 19:38] fahimsadik opened #165 "stuck here"
[

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2021-02-21 22:34] SpoiledSoul opened #166 "Encountering "offline" error due to invalid_grant"
**Describe the bug**
Opening Assistant results in "You Are Offline!" error:
`Error: Getting metadata from plugin failed with error: invalid_grant`

**To Reproduce**
Steps to reproduce the behavior:
1. Start system
2. Open Assistant with hotkey (Win + Shift + A)

**Expected behavior**
I expected the microphone input (enabled on startup) to allow me to speak to Assistant.

**Screenshots**
![Screensh

[2021-02-22 00:16] esau-morais commented on #166
Duplicate of #58

[See comment](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483)

[2021-02-22 00:20] esau-morais commented on #164
Could you please give more information and a screenshot, if it is possible?

[2021-02-22 00:20] esau-morais commented on #165
Could you please give more information and also how to reproduce the issue?

[2021-02-22 00:33] esau-morais commented on #161
It actually doesn't create an alarm to either of them, once gRPC doesn't support Timers and alarms, as you can you see below

Google Assistant service |   |  
-- | -- | --
Supported architectures | All gRPC platforms
Supported languages | All gRPC languages
Hands-free activation(Ok Google) | No
Audio capture and playback | Reference code is provided
Conversation state management | Reference code i

[2021-02-22 02:34] kbdharun commented on #166
Duplicate of #58

You can refer to the following comment to fix this issue: #58 (comment)

[2021-02-22 02:52] kbdharun commented on #164
I think it might be minimized to your system tray in the taskbar if you are using Windows, can you please give further information regarding the issue, like @esau-morais told can you enclose a Screenshot @dacot9.

Hope this helps,
**Regards
K.B.Dharun Krishna**
`Windows Geek`

Please Provide Further Information regarding your Operating System.

[2021-02-22 02:58] ragingnomad opened #167 "Problem viewing Notes"
**Describe the bug**
The margins or alignment are off for the notes.  It looks like it needs a top margin of some amount.

**To Reproduce**
Steps to reproduce the behavior:

"Show my notes"

**Expected behavior**
List of notes.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10 Build 1909]

[2021-02-22 08:03] Luan-Snyman opened #168 "Slow/No results"
Firstly, this is a great tool, and I love it.

However, there are moments when the assistant seems to stop working completely and does not show or result in any response.

![Screenshot 2021-02-22 100009](https://user-images.githubusercontent.com/64130185/108679158-c9b72f80-74f4-11eb-9316-33c94375e375.png)
![Screenshot 2021-02-22 095749](https://user-images.githubusercontent.com/64130185/108679160-

[2021-02-22 09:30] konnahemant commented on #168
Have same issue need a resolution!

[2021-02-22 09:44] esau-morais commented on #167
Could you please provide a screenshot and the OS info?

[2021-02-22 09:45] allysa08 commented on #167
uninstall/fixed it

On Mon, Feb 22, 2021, 5:44 PM Esaú Morais <notifications@github.com> wrote:

[2021-02-22 09:45] esau-morais commented on #163
Did you provide in the settings the token?

[2021-02-22 09:55] allysa08 commented on #163
not yet 😭 i think. dis is type of syntax error u think

On Mon, Feb 22, 2021, 5:46 PM Esaú Morais <notifications@github.com> wrote:

[2021-02-22 10:13] Melvin-Abraham commented on #168
@Luan-Snyman @konnahemant The fix of this issue is similar to #58. Let me know if the following works:

**Ref:** https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/58#issuecomment-753742483

[2021-02-22 10:55] esau-morais commented on #168
@Melvin-Abraham, I tested it and it still not working. Actually, the assistant gives the number of the notes but doesn't show it

[2021-02-22 11:02] esau-morais opened #169 "🐛[BUG](Styling): Button padding stop working when loading the token"
**Describe the bug**
Basically, when I try to reset the tokens (#58), the left-bottom buttons padding stop working.

![left-bottom buttons](https://user-images.githubusercontent.com/55207584/108699249-c36c8780-74e3-11eb-8f02-6a82cc2b2d3b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Remove the `tokens` file
2. Relaunch the Google Assistant
3. Copy the new token
4. Wait to load
5. See

[2021-02-22 11:09] esau-morais commented on #169
### 💡 Possible solutions

This can be happening because of the new element at the DOM that was created (progress bar). What I could recommend is to define a fixed width.

[2021-02-22 11:31] Melvin-Abraham commented on #169
@esau-morais This is because the "disable" class applied to the button (while fetching tokens) force a fixed padding. This would be fixed soon

[2021-02-22 11:31] Melvin-Abraham commented on #168
@esau-morais That is related to rendering issues _(causing to show up a blank screen without any content)_ which will be addressed sometime later on. However, I am not sure if @Luan-Snyman is referring to that or a blank screen with Google Assistant logo _(which could be fixed as per the comment I previously mentioned)_.

**PS:** The notes do not seem to show up on the screen but is rendered off-s

[2021-02-22 11:39] Melvin-Abraham commented on #163
@allysa08 Can you open the DevTools (via `Ctrl + Shift + I`), switch to "Console" tab and share the error logs if there are any?

[2021-02-22 11:42] Lambada10 opened #170 "Timeout error after opening assistant"
**Describe the bug**
So I followed the documentation and set everything up in google cloud. Then I installed Google assistant app but it throws a timeout error. I tried reinstalling but it didn't help.

**To Reproduce**
Open assistant app

**Expected behaviour**
Assistant opens

**Screenshots**
![image](https://user-images.githubusercontent.com/62511588/108703779-5ec52300-750b-11eb-844d-76feec985f

[2021-02-22 11:45] Luan-Snyman commented on #168
@Melvin-Abraham I have managed to fix it, but only briefly.
I disabled the 'start miscrophone on startup' and reenabled it afterwards, to get the error code to go away, and to bring up the 'enter key/auth code' screen.

Once I did that, the slow responses was fixed for some time, but now again it's relatively slow.

I'll try again in a little while and will feed back on the progress.

Thanks again

[2021-02-22 11:49] esau-morais commented on #170
Duplicate of #39 and #80.

[2021-02-22 11:50] esau-morais commented on #169
Thank you! If there's any help needed, I'll be glad to 🤗

[2021-02-22 11:53] esau-morais commented on #168
Got it. After seeing that the option "Enable Auto Scaling" was enabled, I turned it off and the notes started were shown, but with a position error (related to #167)

[2021-02-22 12:00] esau-morais commented on #155
@Melvin-Abraham, I was looking at the `main.js` file, and just got to see that [this line](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/blob/master/app/src/main.js#L3146) doesn't have its own translation to the supported languages at the `lang.js` file.

If there's any help needed, I'll be glad 🤗

[2021-02-22 12:01] Luan-Snyman commented on #168
@Melvin-Abraham would it be fair to close this thread for 'slow/no results'?
@esau-morais @konnahemant

[2021-02-22 12:02] Luan-Snyman commented on #168
As a note:
Deleting the tokens file and re-authorising the app was a proper solution - responses are proper fast now.
Thanks

[2021-02-22 12:03] esau-morais commented on #168
Probably yes. The new issue now is related to the #167

[2021-02-22 12:06] Luan-Snyman commented on #168
Final note again:

**As a note:
Deleting the tokens file and re-authorising the app was a proper solution - responses are proper fast now.
Thanks**

Thanks again @Melvin-Abraham , I really love your work one this!

Will be watching this space :D

[2021-02-22 12:06] #168 closed

[2021-02-22 12:10] esau-morais commented on #155
Do you still face this issue? If yes, I'd recommend you to give more information, creating a new issue as a bug report?

[2021-02-22 13:09] Melvin-Abraham commented on #170
_Closing as Duplicate_

[2021-02-22 13:09] #170 closed

[2021-02-22 13:11] Melvin-Abraham commented on #155
You are welcome to contribute 😊. A `noSuggestionText` key could be added for each language in the "lang.js" file. That should do the job...

[2021-02-22 13:19] esau-morais commented on #155
I already finish this one 😄

[2021-02-22 13:35] esau-morais commented on #169
As the issue is related to design, it'd be great to improve the accessibility, once the `tab` shortcut is fired, it doesn't have a specific styling to the elements that are, specifically, actionable.

[2021-02-22 13:41] esau-morais commented on #155
Just got to see that it isn't missing just the `No suggestions.`, but also the entire settings. So, if you allow me to fix it, I'll be glad to 🤗

[2021-02-22 13:53] Lambada10 commented on #170
I built it but I can't do anything in that
I cant go to settings to set API key or anything
Check video
![video](https://streamable.com/x0eyk2)

[2021-02-22 13:54] Lambada10 commented on #170
I built it but I can't do anything in that
I cant go to settings to set API key or anything
Check video
https://streamable.com/x0eyk2

[2021-02-22 14:01] esau-morais commented on #167
@Melvin-Abraham, this is probably happening of the `tv-item-container` element styling, once you're "forcing" the padding to be 0

[2021-02-22 14:08] Lambada10 commented on #170
I built it but I can't do anything in that
I cant go to settings to set API key or anything
Check video
https://streamable.com/2txl5l

[2021-02-22 14:17] Melvin-Abraham commented on #167
@esau-morais Unfortunately changing padding/margin for one would effect rendering for others. I'll investigate a way to make this change selectively. If you figure out a way to do that, you are welcome to discuss it here :)

[2021-02-22 14:17] Melvin-Abraham commented on #155
@esau-morais The current way of handling i18n for the entire app would be messy as all the translations will be stuffed in a single file making it difficult to work with. I am planning to clean that up first and then work on extended internationalization...

[2021-02-22 14:18] Melvin-Abraham commented on #169
That is definitely in the roadmap 👍

[2021-02-22 14:26] Lambada10 commented on #170
https://user-images.githubusercontent.com/62511588/108721418-43194700-7522-11eb-84a3-a823f7b36c65.mp4

[2021-02-22 15:14] esau-morais commented on #155
Got it. I'll send the changes, making a pull request, so the issue can be closed

[2021-02-22 15:29] Seewak342 opened #172 "I can't see pictutures in Google Assistant"
**Describe the bug**
The pictures when I ask in google assistant are not there

**To Reproduce**
Steps to reproduce the behavior:

"Picture of cats, dogs etc."

**Expected behavior**
Picture Of dogs, cats etc

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows 10 Build 2004
 - Version 1.0.0-rc.2

**A

[2021-02-22 15:33] dacot9 commented on #164
yea. Its not the matter of enabling speech recognition i was in the  process of toggling microphone ON it close down.
![Screenshot 2021-02-22 003321](https://user-images.githubusercontent.com/79419083/108730241-568fd680-7551-11eb-8a25-8b08c53584ef.jpg)

[2021-02-22 15:34] dacot9 commented on #164
![Screenshot 2021-02-22 003321](https://user-images.githubusercontent.com/79419083/108730475-948cfa80-7551-11eb-9c76-ad5b187fcc3d.jpg)

[2021-02-22 15:39] dacot9 commented on #164
sometimes these issues occurs due to windows virus & threat protections . I already updated the files to whitelist

[2021-02-22 15:40] esau-morais commented on #172
Duplicate of #41

[2021-02-22 17:20] #166 closed

[2021-02-22 17:35] SpoiledSoul commented on #74
I'm experiencing a similar issue on Windows 10. In my settings I enabled the option to close Assistant when it is no longer in focus.
At the moment I am being asked to enter a token and because Google Chrome opens Assistant closes and I get stuck in a loop.

![Screenshot 2021-02-22 123258](https://user-images.githubusercontent.com/15527752/108746273-1f4a0700-750a-11eb-8a69-e820f1ee420b.png)

It se

[2021-02-22 19:04] Mantej-Singh commented on #58
Thank you so much for porting this app on windows and also for a fix for "You are Offline!" issue

[2021-02-22 20:27] #155 closed

[2021-02-22 21:13] LinqLover opened #173 "Microphone is permanently in use"
Even when the assistant window is not open, it permanently accesses the microphone (I discovered this using [OnAirSync](/LinqLover/OnAirSync)). This is not only questionable with regard to privacy (even though I tend to trust open-source projects) but also creates misleading displays in other applications (Windows keeps showing the "Your mic is in use" icon in the tray, OnAirSync is confused, etc.

[2021-02-22 21:19] LinqLover opened #174 "Don't speak answer when question was typed instead of spoken"
It's cool to use GA as some kind of terminal input. This flow should not be interrupted by a voice saying something when I typed the question.

[2021-02-22 21:53] CyanoTex commented on #58
_**PLEASE**_ do not have your window behavior settings to Close on Blur. It can become extremely irritating when the issue pops up.

[2021-02-22 23:38] AyushEG opened #175 "Unable to Access Personal Results"
This is great stuff, but here's an issue.

Me: "What's my name?"

GA: "First I'll need your permission to give Personal Results. You can make that change in Google Assistant Settings on your phone."

*gets a notification on my phone to allow personal results for assistant device. clicks allow, app crashes. in the end, PC still can't access personal results.*

[2021-02-23 00:34] Seewak342 commented on #172
How to fix the bug?

[2021-02-23 00:46] kbdharun commented on #164
I would suggest You clean Uninstall the App and delete the Program Files and Reinstall the Program.
If you mention your Windows Version and Build Number I could help you troubleshoot the issue.

Regards,
K.B.Dharun Krishna

[2021-02-23 01:37] kbdharun commented on #175
Hello @AyushEG,

Please note that this client is an **Unofficial client** and this Client uses _Google's_ **Assistant API**, So the API is meant for testing and developing purposes only, So the Client doesn't have the Full Functionality Of Google Assistant in Android Devices and Chromebooks.

**Also, please don't use your Personal Email Address with this client I suggest you Create A Burner accoun

[2021-02-23 07:54] Lambada10 commented on #170
I can send console errors
[code]

[2021-02-23 08:13] esau-morais commented on #172
Please see that the maintainer still [working](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/issues/38#issuecomment-731158481) on this

[2021-02-23 08:14] Hood-Legend opened #176 "'You are offline' when I am not"
**Describe the bug**
'You are offline'
'Error: Getting metadata from plugin failed with error: invalid_grant'
It says that I am offline while I am having a steady net connection

**To Reproduce**
Steps to reproduce the behavior:
1. Win+Shift+A
2. Ask any query
3. See error

**Expected behavior**
I expected it to answer my query, now it is giving the same error every time

**Desktop (please complet

[2021-02-23 08:20] jed84 commented on #176
Same issue here.

[2021-02-23 08:35] Melvin-Abraham commented on #170
@Lambada10 Seems like you did not install the dependencies after cloning this repo. Just go to the directory (which you cloned using `git clone`) and run the command `npm install` inside the directory. If you don't have the Windows Build Tools installed on your system, the build would fail. So, to resolve that you can run the following command before installing any dependencies:

Start PowerShell

[2021-02-23 08:36] Melvin-Abraham commented on #176
Please refer [this](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-fix-invalid_grant-error) FAQ section for help.

[2021-02-23 08:38] dacot9 commented on #164
![Screenshot 2021-02-23 140720](https://user-images.githubusercontent.com/79419083/108819211-918d1b00-75e0-11eb-8094-ba5cabb47c61.jpg)

[2021-02-23 08:38] Melvin-Abraham commented on #164
@dacot9 Can you also open the DevTools (via `Ctrl + Shift + I`) and send the error logs here so that we can investigate the issue...

[2021-02-23 08:42] Melvin-Abraham commented on #173
@LinqLover Duplicate of #30. This issue has already been addressed and fixed within the source just not released yet.
_Closing as duplicate_

[2021-02-23 08:42] #173 closed

[2021-02-23 08:48] dacot9 commented on #164
i was re installing with previous token given. solved!
![Screenshot 2021-02-23 141236](https://user-images.githubusercontent.com/79419083/108820279-f85f0400-75e1-11eb-8583-1ead0d6a0703.jpg)

[2021-02-23 08:58] kbdharun commented on #164
_I am Glad The Issue Was Solved_, **If you could Find the Reason why this Issue was there please share it with @Melvin-Abraham.**

**Regards,
K.B.Dharun Krishna**
`Windows Geek`

[2021-02-23 09:55] Lambada10 commented on #170
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! g-assist@1.0.0-rc.2 postinstall: `electron-builder install-app-deps`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the g-assist@1.0.0-rc.2 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\user\AppDa

[2021-02-23 10:10] Lambada10 commented on #170
Ok it's working now. Thanks

[2021-02-23 10:37] esau-morais opened #177 "[Suggestion](Docs): Improve open-source guidelines"
### Context

Once Google Assistant Unofficial Desktop Client is an open-source project, it is essential to enforce that **anybody** (considering a minimum of knowledge about programming) is free to use, study and modify this project, helping it to improve more and more.

### 💡 Suggestion

So, I think it'd be great to adopt not just a contributing file, but also start to engage the community and sh

[2021-02-23 10:38] esau-morais commented on #177
If there's any way I can help to improve the documentation, helping developers and users, I'd be pleased to 🤗

[2021-02-23 11:05] Melvin-Abraham commented on #177
@esau-morais That would be great 👍. If there's any ideas about the content or implementation, please share it here... 😊

[2021-02-23 11:05] Melvin-Abraham commented on #176
_Closing as duplicate_

[2021-02-23 11:05] #176 closed

[2021-02-23 11:18] Prayag2 commented on #119
Same issue here. I use Manjaro KDE (Linux).

[2021-02-23 11:26] esau-morais commented on #177
So, I shared some resources above and I'd like to know what you think about adopting as a template and/or making some necessary changes. Also, I'm thinking in some way to take the users' attention and incentive to read the docs, once there are a lot of duplicated issues and it is kinda disturbing.

[2021-02-23 11:50] esau-morais commented on #177
I forgot to mention that would be heavily recommended to have code/linting and commit patterns to be followed by the developers/contributors. Some of my favorites are Prettier, ESLint, and sometimes GitHub Actions can help too.

[2021-02-23 15:36] Melvin-Abraham commented on #177
The `CODE_OF_CONDUCT` template could be directly ported without much changes unless you want to add more content. The `CONTRIBUTING` template also seems pretty good. We could add "How to build" and "Coding Styles" section into that. Later on when we refactor the codebase and divide them into multiple components, we could explain what each of the directories contain.

I think that would be of great

[2021-02-23 15:41] esau-morais commented on #177
Thank you for taking a look at the resources 🙏

About the GitHub Actions: They are just a YML file that needs to be created inside a `.github/workflows/` folder on your project. As you can see from the link above, they are in the GitHub Marketplace, ready to be added into the repository, but we can also create by our own

[2021-02-23 16:09] LinqLover opened #178 "Make assistant window draggable everywhere"
This client has a very modern and minimalist UI. I'm actually surprised that it's not possible to drag the window everywhere, at least on Windows. This would be more intuitive because it's less hard to find the right place to drag, especially since title bar and window background both have the same color.

[2021-02-23 16:24] esau-morais commented on #178
[code]

**Note:** I just don't know if that's actually a good idea, once the user drags the mouse, it can actually select anotherelements.

[2021-02-23 16:29] LinqLover commented on #178
Surely this should not affect existing selection features. Do you know some good reference implementations for entire-window dragging? I feel like this is a pretty common pattern but I cannot tell a certain example at the moment ...

[2021-02-23 16:34] esau-morais commented on #178
I don't actually code with Electron, but I was testing here and got to see that if I apply the code above, it still not working and selecting other elements. It probably is happening because the element needs to have a `no-drag` property to all the elements and it'd just increase the code. Let's see the position from the maintainer

[2021-02-23 18:18] WatchTheory opened #179 "Error: Getting metadata from plugin failed with error: invalid_grant"
When opening Google assistant, and when trying something or pressing the microphone, I get this error " __Error: Getting metadata from plugin failed with error: invalid_grant_". Its says I am offline when in fact I am not, I am fully able to access the internet.  I am not sure if it has something to do with the my network.

![Proof 2](https://user-images.githubusercontent.com/50931847/108888521-30

[2021-02-23 18:49] esau-morais commented on #179
Please this section on the [Frequently Asked Questions (FAQ)](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-fix-invalid_grant-error)

[2021-02-23 18:55] esau-morais commented on #179
Duplicate of #58, plus another 5 issues similar to this

[2021-02-23 19:07] WatchTheory commented on #179
@esau-morais  Thanks

[2021-02-23 19:08] #179 closed

[2021-02-24 04:33] Melvin-Abraham commented on #178
@LinqLover The window is draggable. You could drag it anywhere you want. Is there something else you are trying to convey? 🤔

[2021-02-24 09:08] esau-morais commented on #178
What he is trying to say is that there's just a way to drag the window, using the title bar.

[2021-02-24 09:19] #169 closed

[2021-02-24 09:19] #158 closed

[2021-02-24 10:51] neo774 opened #181 "Linux: not getting the assistant to run properly"
Hey,
first of all: great project!

I wanted to run the assistant under a Linuxmint 20.1 environment but couldn't get it to work.
I installed g-assist via snap (https://snapcraft.io/install/g-assist/mint) and followed the setup for the Google authentication
(https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Setup-Authentication-for-Google-Assistant-Unofficial-Desktop

[2021-02-24 10:57] esau-morais commented on #181
Did you click the "Get started" button first?

[2021-02-24 11:55] neo774 commented on #181
No, thank you for your hint! This totally solved the problem!

[2021-02-24 12:01] Melvin-Abraham commented on #178
@esau-morais Okay. I get it now 😅

@LinqLover Unfortunately, that would require `-webkit-app-region: drag` for the `body` of the window. This would hand-over the control to the OS due to which click and other events won't be recognized by app. Of course, this could be fixed by adding `-webkit-app-region: no-drag` to such elements but unfortunately that would be tedious and might result in hard to

[2021-02-24 12:05] esau-morais commented on #181
@neo774, just got to see that you reopened the issue. Is there anything else not working?

[2021-02-24 12:05] Melvin-Abraham commented on #181
@neo774 Did that solve your issue?

[2021-02-24 12:06] esau-morais commented on #181
I think it did

[2021-02-24 12:15] Melvin-Abraham commented on #181
Ok. I'll close this issue as resolved then...

[2021-02-24 12:15] #181 closed

[2021-02-24 12:16] neo774 commented on #181
Hey, this was exactly the problem. In the wiki for authentication it wasn't describe as there is probably assumed you already got beyond this point.
(Also I didn't restart my system after installation, so I had to start the client from the console - maybe there could be left hint for either restarting or accessing from terminal)

[2021-02-24 12:18] Lordgoderic opened #182 "Was working fine until this morning"
**Describe the bug**
A clear and concise description of what the bug is.

Trying to perform any assistant request with microphone or typing will produce
"Error: Getting metadata from plugin failed with error:invalid_grant"

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Widows 10 Home
 - Version 20H2
 -

[2021-02-24 12:24] esau-morais commented on #182
Please, see this section at the [Frequently Asked Questions (FAQ)](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-fix-invalid_grant-error)

[2021-02-24 12:25] esau-morais commented on #182
Duplicate of #58, plus another 6 issues similar to this

[2021-02-24 12:28] Melvin-Abraham commented on #182
_Closing as duplicate_

[2021-02-24 12:28] #182 closed

[2021-02-24 22:46] noahjsmyth commented on #174
easily solved by just muting the audio for the app?

[2021-02-24 22:49] #164 closed

[2021-02-25 00:59] tinbolw opened #183 "Google Assistant does not return any results"
Google Assistant does not return any results, no matter what you request. Trying to use the mic for input does not work either.

**To Reproduce**
Steps to reproduce the behavior:
1. Type a request in the "Ask me anything..." field
2. Press enter

**Expected behavior**
Google Assistant answering correctly.

**Screenshots**

https://user-images.githubusercontent.com/36116384/109087089-a7264180-76c1-

[2021-02-25 02:01] LinqLover commented on #174
@noahjsmyth That's not an option, when I speak to the assistant it actually should answer. But only then :-)

[2021-02-25 02:13] esau-morais commented on #183
It seems like you are not using the correct version of the Google Assistant Unofficial Version, once the actual one is 1.0.0-rc.2

I'd recommend you to see I'm the About section at the Settings and try to check if there's an update button (it should be there)

[2021-02-25 02:17] tinbolw commented on #183
My mistake- The version that I am using currently _is_ 1.0.0-rc.2, I just assumed it was 1.0.0-rc.1 since that was the one in the example.

[2021-02-25 02:25] esau-morais commented on #183
It looks like this issue is slightly related to the #159, but still without any suggestions of what could be.

Could you open the inspector, using `Ctrl+Shit+I` or `F12`, and see if there's any error in the console when you try to click the button or type something?

[2021-02-25 05:33] tinbolw commented on #183
I opened the console and typed in a command to test it and apparently I had not enabled the Google Assistant API so I did that and its working now. Thanks!

[2021-02-25 05:33] #183 closed

[2021-02-25 05:35] tinbolw commented on #159
I had the same issue as you, what I did to fix this was I opened the console and typed in a command. In my case it gave me an error saying that I had not enabled the google assistant API. If that's the case for you as well, it should also provide a link that you can go to to enable the API and hopefully get it working for you.

[2021-02-25 12:32] HBoardman opened #184 "Assistant does not work when VPN is active"
**Describe the bug**
The Google Assistant does not work when a VPN is active on the system.

**To Reproduce**
Steps to reproduce the behaviour:
1. Enable a VPN on the system (I use Private Internet Access)
2. Query the assistant with any command

**Expected behaviour**
Assistant is expected to respond as normal, as though the VPN is not active.

**Screenshots**

![image](https://user-images.github

[2021-02-25 13:05] #159 closed

[2021-02-25 13:51] code-lokesh2008 opened #185 "Not accepting auth success code"
So, this month(February)I found out about this app and was ready to get it up and running. It worked perfectly, until last week, when I was going to ask for the weather. It just said, that it was not getting internet, when I clearly checked my WiFi and my PC for this problem. I tried doing the steps again, the Actions Console and the Google Cloud, but it just does not accept the WiFi. Just 10 mins

[2021-02-25 21:30] NovaViper opened #186 "[Question] Does doing this break Google's ToS?"
Hi, I want to really try and set this up on my laptop. However, I found this method from [this article](https://9to5google.com/2021/02/16/hands-on-with-the-unofficial-google-assistant-desktop-client-video/).. but it states that you could lose your Google Account by doing this. Is this true? And why would it break ToS?

[2021-02-26 09:08] The-Red-Eye-Studio opened #188 "[Requests] Being able to change used microphone, allow hey google / ok google, to detect your voice."

[2021-02-26 09:28] rbrouwer commented on #188
Being able to change used microphone is available in source code. Just not in latest release-build.
#61 already requests "hey google"/"ok google".

[2021-02-26 09:58] rbrouwer commented on #185
If you're getting: "Error: Getting metadata from plugin failed with error: invalid_grant" then duplicate of
#58, #71, #154, #156, #160, #162, #166, #176 and #179.

[2021-02-26 10:18] esau-morais commented on #185
It'd be great to provide a screenshot

[2021-02-26 11:01] BootVirtual opened #189 "JavaScript error at launch"
I just did a fresh install of the assistant version 1.0.0-rc2 on Windows 10 build 20H2 and I'm getting this JavaScript error at launch.

![image](https://user-images.githubusercontent.com/64020530/109292025-6dc11380-7832-11eb-83db-297ec3a0aae9.png)

I tried launching with administrator permission and also reinstalling to the default directory but it still doesn't work. Could you please see what's

[2021-02-26 11:17] esau-morais commented on #189
Please take a look at the [Frequently Asked Questions (FAQ)](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#why-do-i-get-typeerror-error-processing-argument-at-index-0)

[2021-02-26 11:18] esau-morais commented on #189
Duplicate

[2021-02-26 12:06] Zarvis12 commented on #163
Restart or Signout the PC. It worked for me

[2021-02-26 13:45] Melvin-Abraham commented on #188
_Closing as duplicate_

[2021-02-26 13:45] #188 closed

[2021-02-26 13:46] Melvin-Abraham commented on #189
_Closing as duplicate_

[2021-02-26 13:46] #189 closed

[2021-02-26 17:40] HBoardman commented on #186
Would also like to know this.

[2021-02-26 18:19] TheTUFGuy commented on #34
I am having the same javascript error issue. I tried installing it through yarn aas well as the direct setup files. Same error both the times. Have a look.
![Screenshot 2021-02-26 234453](https://user-images.githubusercontent.com/79718151/109339187-49465500-788d-11eb-9a69-d39774d8d17f.png)

[2021-02-26 18:36] esau-morais opened #190 "BUG: Test the new issue action"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-26 19:27] esau-morais commented on #186
I think it could be a great question to be discussed in the new Google-Assistant-Unofficial-Desktop-Client repository Discussions. To get started, go to the Discussions tab:

![Discussions](https://user-images.githubusercontent.com/55207584/109345817-7a079980-784f-11eb-91a9-6f36c3ec5113.png)

[2021-02-26 19:59] esau-morais commented on #186
As you've added this to the repository Discussions, I think it's better to close this

[2021-02-26 20:01] esau-morais commented on #184
Please, take a look at the [Frequently Asked Questions (FAQ)](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#how-do-i-fix-invalid_grant-error).

[2021-02-26 20:17] #186 closed

[2021-02-26 20:29] NovaViper commented on #34
Can confirm the same issue on Manjaro KDE, I tried both the Snap and App Image

[2021-02-26 21:41] HBoardman commented on #184
That makes no difference. the client still does not work over VPN. I still get the DNS resolution failure.

[2021-02-27 00:21] OrangeTurtle197 opened #193 "Typo in empty saved tokens path dialog"
**Describe the bug**
A typo in the 'saved tokens path is empty' dialog (loaction)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a key file and insert it into the app's settings
2. Make sure the saved tokens path field is empty
3. Click Save
4. See the typo

**Screenshots**
https://i.imgur.com/Ad9lDwb.png

**Desktop (please complete the following information):**
 - OS: Windows 10 ver

[2021-02-27 01:26] esau-morais commented on #193
Thank you for reporting this typo! See [here](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/blob/master/app/src/main.js#L2529) line of the code that this typo is located.

[2021-02-27 01:30] esau-morais commented on #193
Also, there's a typo in the settings option called Enable microphone on **Continous** Conversation. It should be "Continuous"

![Enable microphone on Continous Conversation](https://user-images.githubusercontent.com/55207584/109371095-029f2d80-7882-11eb-92fe-04b0e081f7e4.png)

[2021-02-27 01:35] esau-morais commented on #184
Oh ok. Thank you for repotting, I'm gonna try to reproduce this issue and give it a return.

[2021-02-27 03:57] mmmdawn opened #194 "Error: Tried calling start() before the ready event!"
**Describe the bug**
I tried to install and follow your steps but the app got an error on launch.
Error: Tried calling start() before the ready event!

**To Reproduce**
Steps to reproduce the behavior:
1. Browse key file path
2. Save
3. Choose "Automatically set a path"
4. Error

**Screenshots**
![image](https://user-images.githubusercontent.com/29574226/109374748-13838980-78ea-11eb-8975-8657de3b3

[2021-02-27 04:00] #194 closed

[2021-02-27 04:29] VarunS2002 opened #195 "Enhancement: Option to disable notification on boot"
- When start at boot is enabled, the app gives a toast notification on Windows saying "Google Assistant is running in background!" with the registered hotkey
- I suggest adding a setting toggle to disable this notification
- Add the condition on Line 208 in app.js

[2021-02-27 12:19] esau-morais commented on #177
*Closing as solved*

[2021-02-27 12:19] #177 closed

[2021-02-27 14:50] #190 closed

[2021-02-27 15:17] esau-morais opened #198 "BUG: Testing the new Issues Tracker"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-27 15:17] #198 closed

[2021-02-27 20:29] fisforfaheem commented on #105
Thanks, Please update the app and reduce app size if possible 🙆

[2021-02-28 12:46] code-lokesh2008 commented on #185
But, the problem here is that I started a new project, the exact way I started my first one on 13 Jan, I think, but it does NOT accept my code. I will give a pic of the problem later

[2021-02-28 12:47] code-lokesh2008 commented on #185
I am getting that if I use my old client secret.json

[2021-02-28 12:51] esau-morais commented on #195
I think this is actually a great idea. Sometimes notifications can be annoying, mainly on Windows 😅

I'll give it a try and work on this.

[2021-02-28 12:53] code-lokesh2008 commented on #185
I would like @Melvin-Abraham or the developer of the app to check this problem, coz I want Google Assistant to work on my PC

[2021-02-28 13:52] code-lokesh2008 commented on #185
It shows this
![image](https://user-images.githubusercontent.com/76845820/109420191-1f10a680-79f7-11eb-81a4-c8a0be5cf20e.png)
It does nothing, just shows the same error if I hit restart
But, if I hit ignore, it does show the code screen but doesn't accept it.
I will try to add a video clip.

[2021-02-28 13:59] code-lokesh2008 commented on #185
https://user-images.githubusercontent.com/76845820/109420946-318cdf00-79fb-11eb-84c9-6cc536f22bb9.mp4

This is the greatest bug problem.

[2021-02-28 14:02] code-lokesh2008 commented on #185
That was with the new project.
The old one only responded like this:
Error: Getting metadata from plugin failed with error: invalid_grant
And the second project, aka the solver, I thought, just failed.

[2021-02-28 14:10] Melvin-Abraham commented on #185
@code-lokesh2008 Refer to [this section](https://github.com/Melvin-Abraham/Google-Assistant-Unofficial-Desktop-Client/wiki/Frequently-Asked-Questions-(FAQ)#why-does-the-get-token-screen-fail-saving-tokens) of the FAQ to resolve your issue